Repository kubernetes-sigs/gateway-api, pull requests merged in 2021-05, with the labels that each got.

#648 bump up golangci-lint to v1.39.0
  hack/verify-golint.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, size/XS

#637 Add caching to golangci-lint
  .gitignore
  hack/verify-golint.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, size/XS

#650 Updating meeting times
  site-src/contributing/community.md
  site-src/v1alpha2/contributing/community.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, size/S

#659 Update GKE support for Gateway
  site-src/references/implementations.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, size/S

#660 use latest tag for admission server
  deploy/admission_webhook.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, size/XS

#664 breaking change: make object.spec required on all resources
  apis/v1alpha2/backendpolicy_types.go
  apis/v1alpha2/gateway_types.go
  apis/v1alpha2/gatewayclass_types.go
  apis/v1alpha2/httproute_types.go
  apis/v1alpha2/tcproute_types.go
  apis/v1alpha2/tlsroute_types.go
  apis/v1alpha2/udproute_types.go
  config/crd/bases/networking.x-k8s.io_backendpolicies.yaml
  config/crd/bases/networking.x-k8s.io_gatewayclasses.yaml
  config/crd/bases/networking.x-k8s.io_gateways.yaml
  config/crd/bases/networking.x-k8s.io_httproutes.yaml
  config/crd/bases/networking.x-k8s.io_tcproutes.yaml
  config/crd/bases/networking.x-k8s.io_tlsroutes.yaml
  config/crd/bases/networking.x-k8s.io_udproutes.yaml
Labels: approved, breaking-change, cncf-cla: yes, kind/api-change, kind/bug, lgtm, size/S

#662 pkg/admission: refactor to dry out deserializer instantiation
  pkg/admission/server.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, size/M

#663 implement validation for GatewayClass resource
  apis/v1alpha1/validation/validation.go
  apis/v1alpha1/validation/validation_test.go
  apis/v1alpha2/validation/validation.go
  apis/v1alpha2/validation/validation_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, size/L

#653 add a description field for GatewayClass
  apis/v1alpha2/gatewayclass_types.go
  apis/v1alpha2/zz_generated.deepcopy.go
  config/crd/bases/networking.x-k8s.io_gatewayclasses.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#656 pkg/admission: Add Gateway validation to Admission Webhook
  deploy/admission_webhook.yaml
  pkg/admission/server.go
  pkg/admission/server_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, size/L

#667 pkg/admission: validate GatewayClass updates
  deploy/admission_webhook.yaml
  pkg/admission/server.go
  pkg/admission/server_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, size/L

#670 hack: install examples recursively
  hack/verify-examples-kind.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, size/XS

#657 Switching Header and Query Param matching to use lists
  apis/v1alpha2/httproute_types.go
  apis/v1alpha2/zz_generated.deepcopy.go
  config/crd/bases/networking.x-k8s.io_httproutes.yaml
  examples/v1alpha2/basic-http.yaml
  examples/v1alpha2/default-match-http.yaml
  examples/v1alpha2/traffic-split-1.yaml
Labels: approved, breaking-change, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, size/L

#671 Making Controller a required field in Route status
  apis/v1alpha2/shared_types.go
  apis/v1alpha2/zz_generated.deepcopy.go
  config/crd/bases/networking.x-k8s.io_httproutes.yaml
  config/crd/bases/networking.x-k8s.io_tcproutes.yaml
  config/crd/bases/networking.x-k8s.io_tlsroutes.yaml
  config/crd/bases/networking.x-k8s.io_udproutes.yaml
Labels: approved, breaking-change, cncf-cla: yes, kind/api-change, kind/cleanup, lgtm, size/XS

#673 Adding HTTPRoute merging documentation
  site-src/api-types/httproute.md
  site-src/guides/http-routing.md
  site-src/v1alpha2/api-types/gatewayclass.md
  site-src/v1alpha2/api-types/httproute.md
  site-src/v1alpha2/faq.md
  site-src/v1alpha2/guides/http-routing.md
  site-src/v1alpha2/guides/tcp.md
  site-src/v1alpha2/guides/traffic-splitting.md
Labels: approved, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, size/M

#668 api/v1alpha2: Refactor validation into separate files
  apis/v1alpha2/validation/gateway.go
  apis/v1alpha2/validation/gateway_test.go
  apis/v1alpha2/validation/gatewayclass.go
  apis/v1alpha2/validation/gatewayclass_test.go
  apis/v1alpha2/validation/httproute.go
  apis/v1alpha2/validation/httproute_test.go
  apis/v1alpha2/validation/validation_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, size/XXL

#680 RouteGatewayStatus: make conditions required
  apis/v1alpha2/shared_types.go
  config/crd/bases/networking.x-k8s.io_httproutes.yaml
  config/crd/bases/networking.x-k8s.io_tcproutes.yaml
  config/crd/bases/networking.x-k8s.io_tlsroutes.yaml
  config/crd/bases/networking.x-k8s.io_udproutes.yaml
Labels: approved, breaking-change, cncf-cla: yes, kind/api-change, kind/feature, lgtm, size/XS

#675 Add guidance on plural field names to Implementation Guide
  site-src/concepts/guidelines.md
Labels: approved, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, size/S

#679 update controller field description for consistency
  apis/v1alpha2/gatewayclass_types.go
  config/crd/bases/networking.x-k8s.io_gatewayclasses.yaml
  site-src/v1alpha2/api-types/gatewayclass.md
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, size/XS
