Repository kubernetes-sigs/gateway-api, pull requests merged in 2022-05, with the labels that each got.

#1137 conformance: add test for listener hostname matching
  conformance/base/manifests.yaml
  conformance/tests/httproute-listener-hostname-matching.go
  conformance/tests/httproute-listener-hostname-matching.yaml
Labels: ok-to-test, approved, cncf-cla: yes, lgtm, size/L, area/conformance

#1130 conformance: add test for disallowed route kind binding
  conformance/tests/httproute-disallowed-kind.go
  conformance/tests/httproute-disallowed-kind.yaml
Labels: ok-to-test, approved, cncf-cla: yes, lgtm, size/L

#1081 Add conformance tests for ReferencePolicy
  Dockerfile
  conformance/conformance_test.go
  conformance/tests/httproute-invalid-cross-namespace-backend-ref.go
  conformance/tests/httproute-invalid-cross-namespace-backend-ref.yaml
  conformance/tests/httproute-invalid-cross-namespace-parent-ref.go
  conformance/tests/httproute-invalid-cross-namespace-parent-ref.yaml
  conformance/tests/httproute-invalid-reference-policy.go
  conformance/tests/httproute-invalid-reference-policy.yaml
  conformance/tests/httproute-reference-policy.go
  conformance/tests/httproute-reference-policy.yaml
  conformance/utils/kubernetes/helpers.go
  conformance/utils/suite/suite.go
  go.mod
  go.sum
Labels: kind/feature, ok-to-test, approved, tide/merge-method-squash, cncf-cla: yes, lgtm, size/XL

#1138 Adding Changelog for v0.4.3
  CHANGELOG.md
Labels: approved, size/S, kind/documentation, cncf-cla: yes, lgtm

#1149 Bumping webhook image to v0.4.3
  deploy/admission_webhook.yaml
Labels: size/XS, approved, kind/cleanup, cncf-cla: yes, lgtm

#1139 Reverting GEP 735 from implemented to provisional
  apis/v1alpha2/shared_types.go
  apis/v1alpha2/tcproute_types.go
  apis/v1alpha2/udproute_types.go
  apis/v1alpha2/zz_generated.deepcopy.go
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  examples/experimental/v1alpha2/traffic-matching-tcp.yaml
  site-src/geps/gep-735.md
  site-src/v1alpha2/guides/tcp.md
Labels: kind/api-change, approved, kind/cleanup, cncf-cla: yes, lgtm, size/L, kind/gep

#1145 api: remove ListenerReasonRouteConflict
  apis/v1alpha2/gateway_types.go
Labels: ok-to-test, size/XS, kind/api-change, approved, kind/cleanup, kind/documentation, cncf-cla: yes, lgtm, kind/deprecation

#1154 conformance: allow converence time for gateway status check
  conformance/tests/httproute-invalid-cross-namespace-parent-ref.go
Labels: ok-to-test, approved, size/M, kind/cleanup, cncf-cla: yes, lgtm

#1147 Add conformance test for HTTPRoute exact path matching
  conformance/tests/httproute-exact-path-matching.go
  conformance/tests/httproute-exact-path-matching.yaml
Labels: ok-to-test, approved, size/M, cncf-cla: yes, lgtm

#1153 conformance: do not delay successes
  conformance/utils/http/http.go
Labels: ok-to-test, approved, size/M, kind/cleanup, cncf-cla: yes, lgtm

#1152 conformance: allow error status in Route
  conformance/tests/httproute-disallowed-kind.go
  conformance/tests/httproute-invalid-cross-namespace-parent-ref.go
  conformance/utils/kubernetes/helpers.go
  go.mod
  go.sum
Labels: kind/bug, ok-to-test, approved, cncf-cla: yes, lgtm, size/L

#1151 Updating HTTP status code documentation to use 404 instead of 503
  apis/v1alpha2/httproute_types.go
  apis/v1alpha2/tlsroute_types.go
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/stable/gateway.networking.k8s.io_httproutes.yaml
  config/crd/stable/gateway.networking.k8s.io_tlsroutes.yaml
  conformance/tests/httproute-invalid-reference-policy.go
  site-src/v1alpha2/api-types/httproute.md
Labels: kind/api-change, approved, size/M, kind/documentation, cncf-cla: yes, lgtm, area/conformance

#1136 Documenting graduation criteria
  site-src/concepts/versioning.md
Labels: approved, size/M, kind/documentation, cncf-cla: yes, lgtm

#1124 Refactoring path modifier to use union discriminator
  apis/v1alpha2/httproute_types.go
  apis/v1alpha2/validation/httproute.go
  apis/v1alpha2/validation/httproute_test.go
  apis/v1alpha2/zz_generated.deepcopy.go
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  examples/experimental/v1alpha2/http-redirect.yaml
  examples/experimental/v1alpha2/http-rewrite.yaml
Labels: kind/api-change, approved, kind/cleanup, cncf-cla: yes, lgtm, size/L

#1146 api: remove ListenerReasonUnsupportedExtension
  apis/v1alpha2/gateway_types.go
Labels: ok-to-test, size/XS, kind/api-change, approved, kind/cleanup, kind/documentation, cncf-cla: yes, lgtm, kind/deprecation

#1155 api: add RouteReasonNotAllowedByListeners
  apis/v1alpha2/shared_types.go
Labels: kind/feature, ok-to-test, kind/api-change, approved, size/S, cncf-cla: yes, lgtm

#1167 Bumping golangci-lint, making related fixes
  conformance/tests/httproute-invalid-reference-policy.go
  conformance/utils/http/http.go
  conformance/utils/kubernetes/helpers.go
  conformance/utils/suite/suite.go
  hack/verify-golint.sh
Labels: kind/bug, approved, kind/failing-test, size/M, cncf-cla: yes, lgtm

#1150 Bumping version references to v0.4.3
  CHANGELOG.md
  README.md
  site-src/v1alpha2/guides/getting-started.md
Labels: approved, size/M, kind/documentation, cncf-cla: yes, lgtm

#1170 conformance: fixes for invalid reference policy test
  conformance/tests/httproute-invalid-reference-policy.go
  conformance/tests/httproute-invalid-reference-policy.yaml
Labels: kind/bug, ok-to-test, approved, size/S, cncf-cla: yes, lgtm, area/conformance

#1168 add GatewayClass Accepted print column
  apis/v1alpha2/gatewayclass_types.go
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/stable/gateway.networking.k8s.io_gatewayclasses.yaml
Labels: kind/feature, ok-to-test, size/XS, approved, cncf-cla: yes, lgtm

#1160 Cleaning up godocs after v0.5.0 API Review
  apis/v1alpha2/httproute_types.go
  apis/v1alpha2/shared_types.go
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
Labels: approved, size/S, kind/cleanup, cncf-cla: yes, lgtm

#1177 docs: backlinks from example manifests to guides
  examples/v1alpha1/basic-http.yaml
  examples/v1alpha1/basic-tcp.yaml
  examples/v1alpha1/cross-namespace-routing/gateway.yaml
  examples/v1alpha1/cross-namespace-routing/site-route.yaml
  examples/v1alpha1/cross-namespace-routing/store-route.yaml
  examples/v1alpha1/http-filter.yaml
  examples/v1alpha1/http-routing/bar-httproute.yaml
  examples/v1alpha1/http-routing/foo-httproute.yaml
  examples/v1alpha1/http-routing/gateway.yaml
  examples/v1alpha1/http-trafficsplit.yaml
  examples/v1alpha1/simple-gateway/gateway.yaml
  examples/v1alpha1/simple-gateway/httproute.yaml
  examples/v1alpha1/tls-basic.yaml
  examples/v1alpha1/tls-cert-in-route.yaml
  examples/v1alpha1/traffic-splitting/simple-split.yaml
  examples/v1alpha1/traffic-splitting/traffic-split-1.yaml
  examples/v1alpha1/traffic-splitting/traffic-split-2.yaml
  examples/v1alpha1/traffic-splitting/traffic-split-3.yaml
  examples/v1alpha1/upstream-tls.yaml
  examples/v1alpha1/wildcard-tls-gateway.yaml
  examples/v1alpha2/basic-http.yaml
  examples/v1alpha2/basic-tcp.yaml
  examples/v1alpha2/cross-namespace-routing/0-namespaces.yaml
  examples/v1alpha2/cross-namespace-routing/gateway.yaml
  examples/v1alpha2/cross-namespace-routing/site-route.yaml
  examples/v1alpha2/cross-namespace-routing/store-route.yaml
  examples/v1alpha2/http-filter.yaml
  examples/v1alpha2/http-route-attachment/gateway-namespaces.yaml
  examples/v1alpha2/http-route-attachment/gateway-strict.yaml
  examples/v1alpha2/http-route-attachment/httproute.yaml
  examples/v1alpha2/http-routing/bar-httproute.yaml
  examples/v1alpha2/http-routing/foo-httproute.yaml
  examples/v1alpha2/http-routing/gateway.yaml
  examples/v1alpha2/reference-policy.yaml
  examples/v1alpha2/simple-gateway/gateway.yaml
  examples/v1alpha2/simple-gateway/httproute.yaml
  examples/v1alpha2/tls-basic.yaml
  examples/v1alpha2/tls-cert-cross-namespace.yaml
  examples/v1alpha2/traffic-splitting/simple-split.yaml
  examples/v1alpha2/traffic-splitting/traffic-split-1.yaml
  examples/v1alpha2/traffic-splitting/traffic-split-2.yaml
  examples/v1alpha2/traffic-splitting/traffic-split-3.yaml
  examples/v1alpha2/wildcard-tls-gateway.yaml
  mkdocs.yml
Labels: approved, size/M, kind/documentation, cncf-cla: yes, lgtm

#1176 Fix certificateRefs optionality.
  apis/v1alpha2/gateway_types.go
  apis/v1alpha2/zz_generated.deepcopy.go
Labels: ok-to-test, size/XS, approved, kind/cleanup, cncf-cla: yes, lgtm
