Repository kubernetes-sigs/gateway-api, pull requests merged in 2023-09, with the labels that each got.

#2370 Fix CEL validation for listener uniqueness
  apis/v1beta1/gateway_types.go
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  pkg/test/cel/gateway_test.go
Labels: kind/bug, ok-to-test, approved, size/S, release-note-none, cncf-cla: yes, lgtm

#2377 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS, approved, release-note-none, cncf-cla: yes, lgtm

#2113 GEP-1897 Explicit Backend TLS Connection Configuration (was TLS from Gateway to Backend...) Update with API details
  geps/gep-1897.md
Labels: ok-to-test, approved, tide/merge-method-squash, release-note-none, cncf-cla: yes, lgtm, size/L, kind/gep

#2163 GEP 2162 - Supported features in GatewayClass Status
  geps/gep-2162.md
  mkdocs.yml
Labels: approved, release-note, tide/merge-method-squash, cncf-cla: yes, lgtm, size/L, kind/gep

#2361 update signal error log
  cmd/admission/main.go
Labels: kind/bug, ok-to-test, size/XS, approved, release-note, cncf-cla: yes, lgtm

#2362 Fixes for Verify CRDs script and invalid YAMLs
  hack/invalid-examples/experimental/grpcroute/invalid-filter-duplicate-header.yaml
  hack/invalid-examples/experimental/grpcroute/invalid-method.yaml
  hack/invalid-examples/experimental/grpcroute/invalid-service.yaml
  hack/invalid-examples/experimental/referencegrant/missing-from.yaml
  hack/invalid-examples/experimental/referencegrant/missing-ns.yaml
  hack/invalid-examples/experimental/referencegrant/missing-to.yaml
  hack/invalid-examples/experimental/tlsroute/invalid-hostname.yaml
  hack/invalid-examples/standard/gateway/duplicate-listeners.yaml
  hack/invalid-examples/standard/gateway/hostname-tcp.yaml
  hack/invalid-examples/standard/gateway/hostname-udp.yaml
  hack/invalid-examples/standard/gateway/invalid-addresses.yaml
  hack/invalid-examples/standard/gateway/invalid-listener-name.yaml
  hack/invalid-examples/standard/gateway/invalid-listener-port.yaml
  hack/invalid-examples/standard/gateway/tlsconfig-tcp.yaml
  hack/invalid-examples/standard/gatewayclass/invalid-controller.yaml
  hack/invalid-examples/standard/httproute/duplicate-header-match.yaml
  hack/invalid-examples/standard/httproute/duplicate-query-match.yaml
  hack/invalid-examples/standard/httproute/httproute-portless-backend.yaml
  hack/invalid-examples/standard/httproute/httproute-portless-service.yaml
  hack/invalid-examples/standard/httproute/invalid-backend-group.yaml
  hack/invalid-examples/standard/httproute/invalid-backend-kind.yaml
  hack/invalid-examples/standard/httproute/invalid-backend-port.yaml
  hack/invalid-examples/standard/httproute/invalid-filter-duplicate-header.yaml
  hack/invalid-examples/standard/httproute/invalid-filter-duplicate.yaml
  hack/invalid-examples/standard/httproute/invalid-filter-empty.yaml
  hack/invalid-examples/standard/httproute/invalid-filter-wrong-field.yaml
  hack/invalid-examples/standard/httproute/invalid-header-name.yaml
  hack/invalid-examples/standard/httproute/invalid-hostname.yaml
  hack/invalid-examples/standard/httproute/invalid-httredirect-hostname.yaml
  hack/invalid-examples/standard/httproute/invalid-method.yaml
  hack/invalid-examples/standard/httproute/invalid-path-alphanum-specialchars-mix.yaml
  hack/invalid-examples/standard/httproute/invalid-path-specialchars.yaml
  hack/invalid-examples/standard/httproute/invalid-request-redirect-with-backendref.yaml
  hack/invalid-examples/standard/referencegrant/missing-from.yaml
  hack/invalid-examples/standard/referencegrant/missing-ns.yaml
  hack/invalid-examples/standard/referencegrant/missing-to.yaml
  hack/invalid-examples/v1alpha2/gateway/duplicate-listeners.yaml
  hack/invalid-examples/v1alpha2/gateway/hostname-tcp.yaml
  hack/invalid-examples/v1alpha2/gateway/hostname-udp.yaml
  hack/invalid-examples/v1alpha2/gateway/invalid-listener-name.yaml
  hack/invalid-examples/v1alpha2/gateway/invalid-listener-port.yaml
  hack/invalid-examples/v1alpha2/gateway/tlsconfig-tcp.yaml
  hack/invalid-examples/v1alpha2/gatewayclass/invalid-controller.yaml
  hack/invalid-examples/v1alpha2/httproute/duplicate-header-match.yaml
  hack/invalid-examples/v1alpha2/httproute/duplicate-query-match.yaml
  hack/invalid-examples/v1alpha2/httproute/httproute-portless-backend.yaml
  hack/invalid-examples/v1alpha2/httproute/httproute-portless-service.yaml
  hack/invalid-examples/v1alpha2/httproute/invalid-backend-group.yaml
  hack/invalid-examples/v1alpha2/httproute/invalid-backend-kind.yaml
  hack/invalid-examples/v1alpha2/httproute/invalid-backend-port.yaml
  hack/invalid-examples/v1alpha2/httproute/invalid-filter-duplicate.yaml
  hack/invalid-examples/v1alpha2/httproute/invalid-filter-empty.yaml
  hack/invalid-examples/v1alpha2/httproute/invalid-filter-wrong-field.yaml
  hack/invalid-examples/v1alpha2/httproute/invalid-header-name.yaml
  hack/invalid-examples/v1alpha2/httproute/invalid-hostname.yaml
  hack/invalid-examples/v1alpha2/httproute/invalid-httredirect-hostname.yaml
  hack/invalid-examples/v1alpha2/httproute/invalid-method.yaml
  hack/verify-crds-kind.sh
Labels: approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, size/L, kind/test

#2283 Adding SectionName to PolicyTargetReference
  apis/v1alpha2/policy_types.go
  apis/v1alpha2/zz_generated.deepcopy.go
  geps/gep-713.md
Labels: ok-to-test, approved, tide/merge-method-squash, release-note-none, cncf-cla: yes, lgtm, size/L

#2375 IPv6 conformance: Third time's the charm
  conformance/utils/echo/pod.go
  conformance/utils/http/http.go
Labels: approved, release-note, tide/merge-method-squash, size/M, cncf-cla: yes, lgtm

#2318 I can't take it any more. Sort the GEP list.
  mkdocs.yml
Labels: approved, release-note-none, size/M, kind/cleanup, cncf-cla: yes, lgtm

#2386 Fix CEL tests in fix-verify-crds.sh
  hack/verify-crds-kind.sh
Labels: size/XS, approved, kind/failing-test, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, kind/test

#2013 HTTPRoute timeout
  apis/v1alpha2/shared_types.go
  apis/v1beta1/httproute_types.go
  apis/v1beta1/shared_types.go
  apis/v1beta1/validation/httproute.go
  apis/v1beta1/validation/httproute_test.go
  apis/v1beta1/zz_generated.deepcopy.go
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  pkg/test/cel/httproute_experimental_test.go
Labels: priority/important-soon, ok-to-test, approved, release-note, cncf-cla: yes, lgtm, size/L

#2385 Update Flomesh implementation details
  site-src/implementations.md
Labels: approved, size/S, needs-ok-to-test, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2388 Update GEP-1742 with latest comments from go apis
  geps/gep-1742.md
Labels: ok-to-test, approved, size/S, release-note-none, cncf-cla: yes, lgtm, kind/gep

#2390 remove experimental tag from Makefile
  Makefile
Labels: size/XS, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm

#2282 feat: add envoy gateway conformance report
  conformance/reports/v0.8.0/envoy-gateway.yaml
  site-src/implementations.md
Labels: approved, release-note-none, size/M, cncf-cla: yes, lgtm

#2389 chore: remove `conformance/reports/latest` link
  conformance/reports/latest
Labels: ok-to-test, size/XS, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, area/conformance

#2384 Adding new SupportedVersion condition to GatewayClass
  apis/v1beta1/gatewayclass_types.go
  site-src/concepts/guidelines.md
Labels: kind/feature, approved, release-note, size/M, kind/documentation, cncf-cla: yes, lgtm

#2392 Move GEP-1742 to experimental
  geps/gep-1742.md
  mkdocs.yml
Labels: size/XS, approved, release-note, kind/cleanup, kind/documentation, cncf-cla: yes, lgtm, kind/gep

#2395 Fix multiple mirror conformance test
  conformance/tests/httproute-request-multiple-mirrors.go
  conformance/tests/httproute-request-multiple-mirrors.yaml
Labels: kind/bug, ok-to-test, size/XS, approved, release-note-none, cncf-cla: yes, lgtm, area/conformance

#2398 Adding v0.8.1 Changelog
  CHANGELOG.md
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_referencegrants.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_referencegrants.yaml
  config/webhook/admission_webhook.yaml
  pkg/generator/main.go
  site-src/guides/index.md
Labels: approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2399 Updating docs for v0.8.1
  CHANGELOG.md
  README.md
  site-src/guides/index.md
Labels: approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2396 Clarify Gateway Listener Status AttachedRoutes field
  apis/v1beta1/gateway_types.go
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
Labels: approved, size/S, release-note, kind/cleanup, kind/documentation, cncf-cla: yes, lgtm, release-blocker

#2401 rm webhook resources from installation yaml
  hack/build-install-yaml.sh
Labels: approved, size/S, release-note, cncf-cla: yes, lgtm, release-blocker

#2410 conformance: update Kuma's conformance report and implementation badge/section
  conformance/reports/v0.8.0/kumahq-kuma.yaml
  site-src/implementations.md
Labels: approved, release-note-none, size/M, kind/documentation, cncf-cla: yes, lgtm, area/conformance

#2264 feat: Exclude experimental guidance from standard channel CRDs
  apis/v1beta1/shared_types.go
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  pkg/generator/main.go
Labels: kind/feature, ok-to-test, approved, size/S, release-note, tide/merge-method-squash, cncf-cla: yes, lgtm

#2413 Rename NGINX Kubernetes Gateway
  conformance/reports/v0.7.1/nginxinc-nginx-gateway-fabric.yaml
  conformance/reports/v0.8.0/nginxinc-nginx-gateway-fabric.yaml
  geps/gep-1619.md
  geps/gep-1742.md
  site-src/implementations.md
Labels: ok-to-test, approved, release-note, size/M, kind/cleanup, cncf-cla: yes, lgtm

#2247 Check ResolvedRefs condition in Gateway conformance tests
  conformance/tests/gateway-modify-listeners.go
  conformance/tests/gateway-secret-reference-grant-all-in-namespace.go
  conformance/tests/gateway-secret-reference-grant-specific.go
  conformance/tests/gateway-with-attached-routes.go
  conformance/utils/config/timeout.go
  conformance/utils/kubernetes/helpers.go
Labels: ok-to-test, approved, release-note-none, cncf-cla: yes, lgtm, size/L, area/conformance, kind/test, release-blocker

#2418 Fix comment in SecretOjectReference
  apis/v1beta1/object_reference_types.go
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  geps/gep-1897.md
Labels: size/XS, approved, needs-ok-to-test, tide/merge-method-squash, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2427 Add Kong Kubernetes Ingress Controller conformance report for v0.8.1
  conformance/reports/v0.8.1/kong-kubernetes-ingress-controller.yaml
  site-src/implementations.md
Labels: ok-to-test, approved, release-note-none, size/M, kind/documentation, cncf-cla: yes, lgtm, area/conformance

#2159 GEP-1619: Add API design for session persistence
  geps/gep-1619.md
Labels: ok-to-test, approved, tide/merge-method-squash, release-note-none, cncf-cla: yes, lgtm, size/XL, kind/gep

#2288 Expand and clarify Listeners definition
  apis/v1beta1/gateway_types.go
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
Labels: ok-to-test, approved, tide/merge-method-squash, release-note-none, size/M, kind/documentation, cncf-cla: yes, lgtm, release-blocker

#2438 conformance: fix flakes in mirror tests
  conformance/tests/httproute-request-multiple-mirrors.go
  conformance/tests/httproute-request-multiple-mirrors.yaml
  conformance/utils/http/mirror.go
Labels: approved, size/S, release-note-none, cncf-cla: yes, lgtm, area/conformance, kind/test

#2439 fix: update link for kong's KGO
  site-src/implementations.md
Labels: size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#1757 GEP-1762: In Cluster Gateway Deployments
  geps/gep-1762.md
Labels: approved, cncf-cla: yes, lgtm, size/L, kind/gep

#1979 GEP-1911 - Backend Protocol Selection
  apis/v1beta1/httproute_types.go
  geps/gep-1911.md
  mkdocs.yml
Labels: approved, tide/merge-method-squash, cncf-cla: yes, lgtm, size/L, kind/gep

#2432 Adding graduation criteria to GEP 1619
  geps/gep-1619.md
Labels: approved, size/S, release-note-none, cncf-cla: yes, lgtm, kind/gep

#2433 Requiring SectionName or Port to be specified for distinct parents
  apis/v1beta1/shared_types.go
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  pkg/test/cel/httproute_experimental_test.go
Labels: approved, release-note, size/M, kind/cleanup, cncf-cla: yes, lgtm, release-blocker

#2434 Add policy identifier label to policy API spec
  apis/v1alpha2/policy_types.go
Labels: kind/feature, approved, size/S, release-note-none, cncf-cla: yes, lgtm

#2440 Gateway Infrastructure API implementation
  apis/v1beta1/gateway_types.go
  apis/v1beta1/zz_generated.deepcopy.go
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  geps/gep-1762.md
  geps/gep-1867.md
Labels: approved, release-note, size/M, cncf-cla: yes, lgtm, kind/gep
