Repository kubernetes-sigs/gateway-api, pull requests merged in 2023-11, with the labels that each got.

#2552 docs: update README.md
  README.md
Labels: ok-to-test, approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2548 Fix attached routes confromance test
  conformance/tests/gateway-with-attached-routes.go
Labels: kind/bug, size/XS, approved, release-note, cncf-cla: yes, lgtm, area/conformance

#2556 Add Contour conformance report for v0.8.1
  conformance/reports/v0.8.1/projectcontour-contour.yaml
  site-src/implementations.md
Labels: approved, release-note-none, size/M, cncf-cla: yes, lgtm, area/conformance

#2547 Issue #2483 - Add backendtlspolicy API Documentation
  mkdocs.yml
  site-src/api-types/backendtlspolicy.md
  site-src/images/backendtlspolicy-api.png
  site-src/images/httproute-with-backend-tls-policy.png
  site-src/images/tls-termination-types.png
Labels: approved, release-note, kind/documentation, cncf-cla: yes, lgtm, size/L

#2558 Add v1.0.0 Conformance Report of Envoy Gateway
  conformance/reports/v1.0.0/envoy-gateway.yaml
  site-src/implementations.md
Labels: approved, release-note-none, size/M, cncf-cla: yes, lgtm, area/conformance

#2543 Fix conformance report missing tests
  conformance/tests/mesh-split.go
  conformance/utils/suite/experimental_profiles.go
  conformance/utils/suite/experimental_reports.go
  conformance/utils/suite/features.go
Labels: kind/bug, approved, size/S, release-note-none, cncf-cla: yes, lgtm

#2572 chore: badge updated with Kong GA
  site-src/implementations.md
Labels: size/XS, approved, release-note-none, cncf-cla: yes, lgtm

#2564 docs: Add Cilium conformance report for v1.0.0
  conformance/reports/v1.0.0/cilium.yaml
  site-src/implementations.md
Labels: ok-to-test, approved, release-note-none, size/M, kind/documentation, cncf-cla: yes, lgtm

#2574 conformance: Gloo Gateway report for v1.0.0
  conformance/reports/v1.0.0/gloo-gateway.yaml
  site-src/implementations.md
Labels: ok-to-test, approved, release-note-none, size/M, cncf-cla: yes, lgtm

#2561 Update conformance report for Istio implementation
  conformance/reports/v1.0.0/istio-istio.yaml
  site-src/implementations.md
Labels: approved, release-note-none, size/M, kind/documentation, cncf-cla: yes, lgtm

#2573 [gwctl] Cleanup import packages in gwctl
  gwctl/cmd/main.go
  gwctl/pkg/cmd/describe/describe.go
  gwctl/pkg/cmd/get/get.go
  gwctl/pkg/cmd/utils/printer/backends.go
  gwctl/pkg/cmd/utils/printer/gatewayclasses.go
  gwctl/pkg/cmd/utils/printer/gatewayclasses_test.go
  gwctl/pkg/cmd/utils/printer/gateways.go
  gwctl/pkg/cmd/utils/printer/gateways_test.go
  gwctl/pkg/cmd/utils/printer/httproutes.go
  gwctl/pkg/cmd/utils/printer/httproutes_test.go
  gwctl/pkg/cmd/utils/printer/policies.go
  gwctl/pkg/cmd/utils/printer/policies_test.go
  gwctl/pkg/common/resourcehelpers/backends.go
  gwctl/pkg/common/resourcehelpers/gatewayclasses.go
  gwctl/pkg/common/resourcehelpers/gateways.go
  gwctl/pkg/common/resourcehelpers/httproutes.go
  gwctl/pkg/effectivepolicy/backends.go
  gwctl/pkg/effectivepolicy/gatewayclasses.go
  gwctl/pkg/effectivepolicy/gateways.go
  gwctl/pkg/effectivepolicy/httproutes.go
Labels: ok-to-test, approved, release-note-none, size/M, kind/cleanup, cncf-cla: yes, lgtm

#2575 docs: Fix Cilium conformance report v1.0.0 link error
  site-src/implementations.md
Labels: ok-to-test, size/XS, approved, release-note-none, cncf-cla: yes, lgtm

#2382 gep-2162 - small fixes + bump to experimental
  geps/gep-2162.md
  mkdocs.yml
Labels: approved, size/S, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, kind/gep

#2542 conformance: Update API version for timeout HTTPRoutes
  conformance/tests/httproute-timeout-backend-request.yaml
  conformance/tests/httproute-timeout-request.yaml
Labels: ok-to-test, size/XS, approved, release-note-none, cncf-cla: yes, lgtm, area/conformance, kind/test

#2584 align test names + change HTTPExactPathMatching to HTTPRouteExactPathMatching
  conformance/tests/gateway-invalid-tls-configuration.go
  conformance/tests/gateway-invalid-tls-configuration.yaml
  conformance/tests/httproute-backend-protocol-websocket.go
  conformance/tests/httproute-backend-protocol-websocket.yaml
  conformance/tests/httproute-exact-path-matching.go
  conformance/tests/httproute-invalid-nonexistent-backendref.go
  conformance/tests/httproute-invalid-nonexistent-backendref.yaml
  conformance/tests/httproute-partially-invalid-via-invalid-reference-grant.go
  conformance/tests/httproute-partially-invalid-via-invalid-reference-grant.yaml
Labels: approved, size/S, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, area/conformance

#2560 Conformance report should include supported features for AllFeatures
  conformance/utils/suite/experimental_suite.go
Labels: kind/bug, approved, release-note-none, size/M, cncf-cla: yes, lgtm, area/conformance

#2587 Some minor fixes to gep-1762 doc
  geps/gep-1762.md
  mkdocs.yml
Labels: approved, size/S, release-note-none, cncf-cla: yes, lgtm, kind/gep

#2588 Fix typos for TimeoutConfig and getConformanceProfileForName
  conformance/utils/config/timeout.go
  conformance/utils/suite/experimental_profiles.go
Labels: ok-to-test, size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2582 conformance: missmatch `SectionName` and `Port` will trigger `NoMatchingParent`
  conformance/tests/httproute-invalid-parentref-section-name-not-matching-port.go
  conformance/tests/httproute-invalid-parentref-section-name-not-matching-port.yaml
Labels: approved, release-note-none, size/M, cncf-cla: yes, lgtm, area/conformance, kind/test

#2579 Update Easegress to GA
  site-src/implementations.md
Labels: ok-to-test, size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2605 Docs: clarify SectionName
  site-src/concepts/api-overview.md
Labels: ok-to-test, size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2608 Fix the timeout context creation order
  conformance/tests/gateway-modify-listeners.go
  conformance/tests/gateway-observed-generation-bump.go
Labels: approved, size/S, needs-ok-to-test, kind/failing-test, release-note-none, cncf-cla: yes, lgtm, area/conformance, kind/test

#2540 Add Avi Kubernetes Operator (AKO) to the list of implementations
  site-src/implementations.md
Labels: ok-to-test, approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2518 Add GRPCRoute to Terminate-supported types
  site-src/guides/tls.md
Labels: ok-to-test, size/XS, approved, release-note, tide/merge-method-squash, kind/documentation, cncf-cla: yes, lgtm

#2611 conformance: Kong Kubernetes Ingress Controller v3.0.1 report for v1.0.0
  conformance/reports/v1.0.0/kong-kubernetes-ingress-controller.yaml
Labels: ok-to-test, approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm, area/conformance

#2610 Fixing broken documentation link to TCPRoute
  site-src/concepts/gamma.md
  site-src/index.md
Labels: ok-to-test, size/XS, approved, release-note, kind/documentation, cncf-cla: yes, lgtm

#2538 Check listeners conditions serially
  conformance/utils/config/timeout.go
  conformance/utils/kubernetes/helpers.go
Labels: approved, release-note-none, size/M, cncf-cla: yes, lgtm, area/conformance, kind/test

#2629 Add support for hostname address in conformance tests
  conformance/utils/kubernetes/helpers.go
Labels: ok-to-test, size/XS, approved, release-note-none, cncf-cla: yes, lgtm, area/conformance, kind/test

#2623 fix(conformance): `parentRef` port is extended
  conformance/tests/httproute-invalid-parentref-section-name-not-matching-port.go
  conformance/utils/suite/features.go
Labels: kind/bug, size/XS, approved, release-note-none, cncf-cla: yes, lgtm, area/conformance
