Repository kubernetes-sigs/gateway-api, pull requests merged in 2023-12, with the labels that each got.

#2633 Sort items in conformance reports to maintain stability
  conformance/utils/suite/experimental_reports.go
  conformance/utils/suite/experimental_suite.go
Labels: kind/feature, ok-to-test, approved, release-note, size/M, cncf-cla: yes, lgtm, area/conformance

#2646 Adding a note to explain the prolonged experimental state of MCS GEP
  geps/gep-1748.md
Labels: approved, size/S, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, kind/gep

#2651 Update netlify.toml - add GO_VERSION environment
  netlify.toml
Labels: ok-to-test, size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2647 build(deps): bump the k8s-io group
  go.mod
  go.sum
  gwctl/go.mod
  gwctl/go.sum
Labels: ok-to-test, approved, kind/failing-test, tide/merge-method-squash, release-note-none, size/M, cncf-cla: yes, lgtm, kind/test

#2654 gep-713: target ref name fixed to refer to HTTPRoute name
  geps/gep-713.md
Labels: ok-to-test, size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, kind/gep

#2656 Adding documentation issue template
  .github/ISSUE_TEMPLATE/documentation.md
Labels: ok-to-test, size/XS, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm

#2657 Fixing links in changelog
  CHANGELOG.md
Labels: ok-to-test, size/XS, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm

#2595 Remove validating webhook
  .github/ISSUE_TEMPLATE/bug.md
  .gitignore
  Makefile
  RELEASE.md
  apis/v1/gateway_types.go
  apis/v1/httproute_types.go
  apis/v1/validation/common.go
  apis/v1/validation/common_test.go
  apis/v1/validation/doc.go
  apis/v1/validation/gateway.go
  apis/v1/validation/gateway_test.go
  apis/v1/validation/gatewayclass.go
  apis/v1/validation/gatewayclass_test.go
  apis/v1/validation/httproute.go
  apis/v1/validation/httproute_test.go
  apis/v1alpha2/gateway_types.go
  apis/v1alpha2/validation/common.go
  apis/v1alpha2/validation/doc.go
  apis/v1alpha2/validation/gateway.go
  apis/v1alpha2/validation/gateway_test.go
  apis/v1alpha2/validation/gatewayclass.go
  apis/v1alpha2/validation/gatewayclass_test.go
  apis/v1alpha2/validation/grpcroute.go
  apis/v1alpha2/validation/grpcroute_test.go
  apis/v1alpha2/validation/httproute.go
  apis/v1alpha2/validation/httproute_test.go
  apis/v1alpha2/validation/tcproute.go
  apis/v1alpha2/validation/tcproute_test.go
  apis/v1alpha2/validation/tlsroute.go
  apis/v1alpha2/validation/tlsroute_test.go
  apis/v1alpha2/validation/udproute.go
  apis/v1alpha2/validation/udproute_test.go
  apis/v1alpha2/validation/utils_test.go
  apis/v1beta1/gateway_types.go
  apis/v1beta1/validation/common.go
  apis/v1beta1/validation/common_test.go
  apis/v1beta1/validation/doc.go
  apis/v1beta1/validation/gateway.go
  apis/v1beta1/validation/gateway_test.go
  apis/v1beta1/validation/gatewayclass.go
  apis/v1beta1/validation/gatewayclass_test.go
  apis/v1beta1/validation/httproute.go
  apis/v1beta1/validation/httproute_test.go
  cmd/admission/main.go
  config/webhook/0-namespace.yaml
  config/webhook/admission_webhook.yaml
  config/webhook/certificate_config.yaml
  docker/Dockerfile.webhook
  go.mod
  go.sum
  hack/build-and-push.sh
  hack/build-install-yaml.sh
  hack/update-webhook-yaml.sh
  hack/verify-crds-kind.sh
  pkg/admission/server.go
  pkg/admission/server_test.go
  site-src/concepts/guidelines.md
  site-src/concepts/versioning.md
  site-src/contributing/contributor-ladder.md
  site-src/guides/index.md
Labels: approved, size/XXL, release-note, kind/cleanup, cncf-cla: yes, lgtm

#2660 gep-713: correct label value
  geps/gep-713.md
Labels: ok-to-test, size/XS, approved, tide/merge-method-squash, release-note-none, kind/documentation, cncf-cla: yes, lgtm, kind/gep

#2676 Bump parent images for echo apps
  docker/Dockerfile.echo-advanced
  docker/Dockerfile.echo-basic
Labels: ok-to-test, size/XS, approved, release-note-none, cncf-cla: yes, lgtm

#2302 Add -buildvcs=false flag to fix golint script
  hack/verify-golint.sh
Labels: kind/bug, ok-to-test, size/XS, approved, release-note-none, cncf-cla: yes, lgtm

#2679 Update conformance report for NGINX Gateway Fabric
  conformance/reports/v1.0.0/nginxinc-nginx-gateway-fabric.yaml
  site-src/implementations.md
Labels: ok-to-test, approved, release-note-none, size/M, cncf-cla: yes, lgtm, area/conformance

#2680 Adding new CRD Management Guide
  mkdocs.yml
  requirements.txt
  site-src/concepts/versioning.md
  site-src/guides/api-design.md
  site-src/guides/crd-management.md
  site-src/guides/implementers.md
  site-src/guides/index.md
Labels: approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, size/L

#2677 Bump conformance images
  conformance/base/manifests.yaml
  conformance/mesh/manifests.yaml
  conformance/tests/mesh-frontend.go
Labels: approved, needs-ok-to-test, release-note-none, size/M, cncf-cla: yes, lgtm

#2690 Fix a conformance test when running on ipv6
  conformance/tests/mesh-frontend.go
  conformance/utils/http/http.go
Labels: ok-to-test, approved, size/S, release-note-none, cncf-cla: yes, lgtm
