Repository kubernetes-sigs/gateway-api, pull requests merged in 2023-08, with the labels that each got.

#2255 [GEP-1651] Remove Routability from the go types and move GEP to Provisional
  apis/v1beta1/gateway_types.go
  apis/v1beta1/gatewayclass_types.go
  apis/v1beta1/zz_generated.deepcopy.go
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  conformance/tests/gateway-routability-broken.yaml
  conformance/tests/gateway-routability-cluster.yaml
  conformance/tests/gateway-routability-default.yaml
  conformance/tests/gateway-routability-private.yaml
  conformance/tests/gateway-routability-public.yaml
  conformance/tests/gateway-routability.go
  conformance/utils/suite/features.go
  examples/experimental/routability/gateways.yaml
  geps/gep-1651.md
  hack/invalid-examples/v1beta1/gateway/invalid-routability.yaml
Labels: approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, size/XL, kind/gep

#2246 Completing CEL validation for Gateway
  apis/v1beta1/gateway_types.go
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  examples/standard/gateway-addresses.yaml
  examples/standard/simple-gateway/gateway.yaml
  hack/cel-validation/gateway_test.go
  hack/invalid-examples/v1beta1/gateway/invalid-addresses.yaml
  pkg/generator/main.go
Labels: approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, size/L

#2238 Initial GAMMA docs take
  mkdocs.yml
  site-src/blog/2022/graduating-to-beta.md
  site-src/concepts/api-overview.md
  site-src/concepts/gamma.md
  site-src/concepts/glossary.md
  site-src/concepts/roles-and-personas.md
  site-src/concepts/security-model.md
  site-src/concepts/service-facets.md
  site-src/concepts/use-cases.md
  site-src/contributing/gamma.md
  site-src/contributing/index.md
  site-src/implementations.md
  site-src/index.md
Labels: approved, size/XXL, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2253 Add initial set of CEL validations for HTTPRoute
  apis/v1beta1/httproute_types.go
  apis/v1beta1/object_reference_types.go
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  hack/cel-validation/httproute_test.go
Labels: kind/feature, approved, size/XXL, release-note, cncf-cla: yes, lgtm

#2260 Removing broken GAMMA link
  mkdocs.yml
Labels: size/XS, approved, release-note-none, kind/cleanup, kind/documentation, cncf-cla: yes, lgtm

#2265 conformance: Remove already deleted option RestClient
  conformance/experimental_conformance_test.go
Labels: ok-to-test, size/XS, approved, release-note-none, cncf-cla: yes, lgtm

#2262 Add CEL validation to presubmit
  hack/cel-validation/gateway_test.go
  hack/run-cel-validation-test.sh
  hack/verify-examples-kind.sh
Labels: kind/feature, approved, release-note-none, size/M, cncf-cla: yes, lgtm, kind/test

#2266 conformance: Add Conformance report for cilium
  conformance/results/cilium.yaml
Labels: ok-to-test, approved, release-note-none, size/M, cncf-cla: yes, lgtm, area/conformance

#2261 Addressing v0.8.0 API Review feedback
  apis/v1alpha2/grpcroute_types.go
  apis/v1beta1/gateway_types.go
  apis/v1beta1/httproute_types.go
  apis/v1beta1/shared_types.go
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  hack/cel-validation/gateway_test.go
  hack/cel-validation/httproute_test.go
Labels: approved, release-note-none, size/M, kind/cleanup, cncf-cla: yes, lgtm

#2258 GEP-2257: Gateway API Duration Format
  geps/gep-2257.md
  mkdocs.yml
Labels: approved, tide/merge-method-squash, release-note-none, cncf-cla: yes, lgtm, size/L, kind/gep

#2267 Use '$(POD_NAMESPACE)' instead of hardcoded namespace
  config/webhook/certificate_config.yaml
Labels: ok-to-test, size/XS, approved, release-note, cncf-cla: yes, lgtm

#2276 Adding channel-based CEL validation
  Makefile
  apis/v1beta1/shared_types.go
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  hack/verify-crds-kind.sh
  pkg/generator/main.go
  pkg/test/cel/gateway_test.go
  pkg/test/cel/gatewayclass_test.go
  pkg/test/cel/httproute_experimental_test.go
  pkg/test/cel/httproute_standard_test.go
  pkg/test/cel/httproute_test.go
  pkg/test/cel/main_test.go
Labels: approved, release-note, kind/cleanup, cncf-cla: yes, lgtm, size/L, kind/test

#2244 Adding changelog for v0.8.0-rc1
  CHANGELOG.md
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_referencegrants.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_referencegrants.yaml
  pkg/generator/main.go
Labels: approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, size/L

#2281 Update docs for Envoy Gateway
  site-src/implementations.md
Labels: size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2278 Update Cilium implementation details for Cilium 1.14
  site-src/implementations.md
Labels: size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2292 Conformance Profiles: Report History Management
  conformance/reports/v0.7.1/cilium-cilium.yaml
  conformance/reports/v0.7.1/istio.io-istio.yaml
  conformance/reports/v0.7.1/kong-kubernetes-ingress-controller.yaml
  conformance/reports/v0.7.1/kumahq-kuma.yaml
  conformance/reports/v0.7.1/latest
  conformance/reports/v0.7.1/nginxinc-nginx-kubernetes-gateway.yaml
  conformance/reports/v0.7.1/projectcontour-contour.yaml
  geps/gep-1709.md
Labels: ok-to-test, approved, size/S, release-note-none, kind/cleanup, kind/documentation, cncf-cla: yes, lgtm, area/conformance

#2301 Update typos in gep-713
  geps/gep-713.md
Labels: ok-to-test, size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2306 Using "Set" list type for "Remove" in Header Modifier Filters
  apis/v1beta1/httproute_types.go
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  hack/invalid-examples/v1alpha2/grpcroute/invalid-filter-duplicate-header.yaml
  hack/invalid-examples/v1beta1/httproute/invalid-filter-duplicate-header.yaml
Labels: approved, size/S, release-note, kind/cleanup, cncf-cla: yes, lgtm

#2308 doc:fix implementations.md typo
  site-src/implementations.md
Labels: ok-to-test, size/XS, approved, kind/documentation, cncf-cla: yes, lgtm

#2305 Add CEL validation to GRPCRoute
  apis/v1alpha2/grpcroute_types.go
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  pkg/test/cel/grpcroute_test.go
Labels: kind/feature, ok-to-test, approved, release-note, cncf-cla: yes, lgtm, size/L

#2128 Improve Policy discoverability
  geps/gep-713.md
  geps/images/713-the-diagram-with-policy-admin.png
Labels: approved, release-note, kind/cleanup, kind/documentation, cncf-cla: yes, lgtm, size/XL, kind/gep

#2310 [conformance] Specify group: "" for mesh conformance parentRefs
  conformance/tests/mesh-consumer-route.yaml
  conformance/tests/mesh-frontend.yaml
  conformance/tests/mesh-ports.yaml
  conformance/tests/mesh-split.yaml
Labels: kind/bug, ok-to-test, approved, size/S, release-note-none, cncf-cla: yes, lgtm, area/conformance, kind/test

#2311 Add CEL validation for GRPCMethodMatch
  apis/v1alpha2/grpcroute_types.go
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  pkg/test/cel/grpcroute_test.go
Labels: kind/feature, approved, release-note, cncf-cla: yes, lgtm, size/L

#2312 Conformance tweaks for Linkerd and other meshes
  conformance/conformance_test.go
  conformance/experimental_conformance_test.go
  conformance/tests/mesh-frontend-hostname.go
  conformance/utils/flags/flags.go
  conformance/utils/kubernetes/apply.go
  conformance/utils/kubernetes/helpers.go
  conformance/utils/suite/experimental_suite.go
  conformance/utils/suite/suite.go
  conformance/utils/suite/suite_test.go
  site-src/concepts/conformance.md
Labels: kind/bug, approved, release-note, cncf-cla: yes, lgtm, size/L, area/conformance

#2313 Simplify CEL validation of the form 'X cannot be repeated' by using filter() macro
  apis/v1alpha2/grpcroute_types.go
  apis/v1beta1/httproute_types.go
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  hack/verify-crds-kind.sh
Labels: kind/feature, approved, size/S, release-note-none, kind/cleanup, cncf-cla: yes, lgtm

#2291 Add Tyk Implementation progress
  site-src/implementations.md
Labels: ok-to-test, approved, size/S, cncf-cla: yes, lgtm

#2317 Add more clarity around RequestMirrorFilter dest
  apis/v1beta1/httproute_types.go
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
Labels: size/XS, approved, release-note, kind/documentation, cncf-cla: yes, lgtm

#2320 Fix CEL validations for parentRefs and use 'in' operator in some CEL expressions
  apis/v1beta1/httproute_types.go
  apis/v1beta1/shared_types.go
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  pkg/test/cel/httproute_experimental_test.go
  pkg/test/cel/httproute_standard_test.go
Labels: kind/bug, kind/feature, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, size/L, kind/test

#2323 Removing concept of resource-level support levels
  apis/v1alpha2/grpcroute_types.go
  apis/v1alpha2/referencegrant_types.go
  apis/v1beta1/referencegrant_types.go
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_referencegrants.yaml
  config/crd/standard/gateway.networking.k8s.io_referencegrants.yaml
  conformance/utils/suite/features.go
  conformance/utils/suite/suite.go
Labels: approved, release-note, size/M, kind/cleanup, kind/documentation, cncf-cla: yes, lgtm, area/conformance

#2338 docs: Removed note about path redirect being experimental
  site-src/guides/http-redirect-rewrite.md
Labels: ok-to-test, size/XS, approved, release-note-none, cncf-cla: yes, lgtm

#2340 Mesh Conformance IPv6 fix
  conformance/utils/echo/pod.go
Labels: approved, size/M, cncf-cla: yes, lgtm

#2342 Fix doc for allowed namespaces of routes.
  site-src/concepts/api-overview.md
Labels: size/XS, approved, needs-ok-to-test, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2345 conformance: `SupportGatewayPort8080` feature for test with `attachedRoutes`
  conformance/tests/gateway-with-attached-routes-with-port-8080.yaml
  conformance/tests/gateway-with-attached-routes.go
  conformance/tests/gateway-with-attached-routes.yaml
Labels: approved, release-note-none, size/M, cncf-cla: yes, lgtm, area/conformance, kind/test, release-blocker

#2348 fix: conformance profile not-existed extented features
  conformance/utils/suite/experimental_profiles.go
  conformance/utils/suite/features.go
Labels: kind/bug, ok-to-test, size/XS, approved, release-note, cncf-cla: yes, lgtm, area/conformance

#2327 conformance-profile: Remove experimental build tag
  conformance/apis/v1alpha1/conformancereport.go
  conformance/apis/v1alpha1/doc.go
  conformance/apis/v1alpha1/profilereport.go
  conformance/apis/v1alpha1/result.go
  conformance/apis/v1alpha1/statistics.go
  conformance/experimental_conformance_test.go
  conformance/utils/flags/experimental_flags.go
  conformance/utils/suite/experimental_profiles.go
  conformance/utils/suite/experimental_reports.go
  conformance/utils/suite/experimental_suite.go
Labels: ok-to-test, approved, release-note-none, size/M, cncf-cla: yes, lgtm, area/conformance, kind/test, release-blocker

#2358 fix leaking TCP connections which leads to consistent conformance test failures
  conformance/utils/roundtripper/roundtripper.go
Labels: kind/bug, size/XS, approved, release-note-none, cncf-cla: yes, lgtm, kind/test

#2315 Fix broken links to GEPs
  geps/gep-1867.md
  geps/overview.md
Labels: ok-to-test, size/XS, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm

#2181 v0.8.0 blog entry
  docker/Dockerfile.webhook
  geps/gep-1324.md
  geps/gep-1426.md
  geps/gep-1686.md
  mkdocs.yml
  site-src/blog/2023/0829-mesh-support.md
  site-src/blog/index.md
  site-src/implementations.md
Labels: approved, tide/merge-method-squash, release-note-none, kind/documentation, cncf-cla: yes, lgtm, size/L, release-blocker

#2364 Update Contour implementation summary and conformance report
  conformance/reports/v0.8.0/projectcontour-contour.yaml
  site-src/implementations.md
Labels: approved, release-note-none, size/M, kind/documentation, cncf-cla: yes, lgtm, area/conformance

#2366 docs: remove codejam from meetings
  site-src/contributing/index.md
Labels: ok-to-test, approved, release-note-none, kind/cleanup, kind/documentation, cncf-cla: yes, lgtm

#2367 Update GEP-1742 to use GEP-2257 Duration type
  geps/gep-1742.md
Labels: ok-to-test, approved, release-note-none, size/M, cncf-cla: yes, lgtm, kind/gep

#2368 Update conformance report for NGINX Kubernetes Gateway
  conformance/reports/v0.8.0/nginxinc-nginx-kubernetes-gateway.yaml
  site-src/implementations.md
Labels: ok-to-test, approved, release-note-none, size/M, cncf-cla: yes, lgtm, area/conformance
