Repository kubernetes-sigs/gateway-api, pull requests merged in 2023-05, with the labels that each got.

#1977 Add validation for `gateway.spec.addresses` to validate whether fields of addresses are set according to the Gateway API specification
  apis/v1beta1/validation/gateway.go
  apis/v1beta1/validation/gateway_test.go
Labels: kind/feature, ok-to-test, approved, cncf-cla: yes, lgtm, size/L

#1975 Extend DefaultRoundTripper with CustomDialContext
  conformance/utils/roundtripper/roundtripper.go
Labels: ok-to-test, approved, size/M, cncf-cla: yes, lgtm, area/conformance, kind/test

#1906 GEP-1897: TLS from Gateway to Backend for ingress
  geps/gep-1897.md
  geps/images/1897-TLStermtypes.png
Labels: ok-to-test, approved, tide/merge-method-squash, cncf-cla: yes, lgtm, size/L, kind/gep

#1919 Changelog for v0.7.0-rc1
  CHANGELOG.md
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_referencegrants.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_referencegrants.yaml
  hack/verify-examples-kind.sh
  pkg/generator/main.go
Labels: approved, kind/documentation, cncf-cla: yes, lgtm, size/L

#1991 mesh: "build" test image in tree
  RELEASE.md
  docker/Dockerfile.echo
  docker/Dockerfile.webhook
  hack/build-and-push.sh
  hack/verify-examples-kind.sh
Labels: kind/feature, approved, size/S, cncf-cla: yes, lgtm

#1935 GEP-1619: Enumerate common configuration for session persistence and affinity
  geps/gep-1619.md
Labels: ok-to-test, approved, cncf-cla: yes, lgtm, size/L, kind/gep

#1995 validation: take parentRef.port into account
  apis/v1beta1/validation/common.go
  apis/v1beta1/validation/common_test.go
Labels: kind/bug, approved, cncf-cla: yes, lgtm, size/L

#1992 conformance: remove broken ValidUniqueListenerPorts runner functionality
  conformance/utils/kubernetes/apply.go
  conformance/utils/kubernetes/apply_test.go
  conformance/utils/suite/suite.go
Labels: approved, kind/cleanup, cncf-cla: yes, lgtm, size/L, needs-triage, area/conformance

#1999 Updating mesh conformance images to point to k8s registry
  conformance/mesh/manifests.yaml
Labels: size/XS, approved, kind/cleanup, cncf-cla: yes, lgtm, area/conformance

#2006 GEP-1897 Add to docs index
  mkdocs.yml
Labels: ok-to-test, size/XS, approved, kind/failing-test, kind/documentation, cncf-cla: yes, lgtm, kind/flake, kind/deprecation, kind/regression, area/conformance

#1880 Clarify port redirect behaviour and add conformance tests for the same
  apis/v1beta1/httproute_types.go
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  conformance/base/manifests.yaml
  conformance/tests/httproute-redirect-port-and-scheme.go
  conformance/tests/httproute-redirect-port-and-scheme.yaml
  conformance/utils/http/http.go
  conformance/utils/tls/tls.go
Labels: ok-to-test, approved, kind/documentation, cncf-cla: yes, lgtm, size/XL, area/conformance, kind/test, release-blocker

#2007 Conformance: Removing status-only redirect test
  conformance/tests/httproute-redirect-host-and-status.go
  conformance/tests/httproute-redirect-host-and-status.yaml
Labels: approved, size/S, kind/cleanup, cncf-cla: yes, lgtm, area/conformance

#2008 Adding changelog for v0.7.0-rc2
  CHANGELOG.md
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_referencegrants.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_referencegrants.yaml
  config/webhook/admission_webhook.yaml
  pkg/generator/main.go
Labels: approved, size/M, kind/documentation, cncf-cla: yes, lgtm

#1926 Clarify parentRef binding for Mesh
  geps/gep-1426.md
Labels: approved, size/M, cncf-cla: yes, lgtm, kind/gep, area/mesh

#2017 Fixes for mesh conformance tests
  conformance/tests/mesh-split.go
  conformance/utils/echo/pod.go
Labels: approved, size/M, cncf-cla: yes, lgtm, area/conformance, area/mesh, kind/test

#2022 Replacing fmt.Sprintln with plain strings
  apis/v1beta1/validation/gateway.go
  apis/v1beta1/validation/gateway_test.go
Labels: approved, size/S, kind/cleanup, cncf-cla: yes, lgtm

#2023 Adding changelog for v0.7.0 release
  CHANGELOG.md
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_referencegrants.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_referencegrants.yaml
  config/webhook/admission_webhook.yaml
  pkg/generator/main.go
Labels: approved, kind/documentation, cncf-cla: yes, lgtm, size/L

#2024 conformance: fix ipv6 addresses
  conformance/utils/http/http.go
Labels: approved, size/S, cncf-cla: yes, lgtm, kind/test

#2016 Deploy webhook in pod admission restricted mode
  config/webhook/0-namespace.yaml
  config/webhook/admission_webhook.yaml
  config/webhook/certificate_config.yaml
Labels: kind/feature, ok-to-test, approved, size/M, cncf-cla: yes, lgtm

#1853 conformance: check HTTPRoute connectivity after deleting relevant ReferenceGrant
  conformance/tests/httproute-reference-grant.go
Labels: ok-to-test, approved, size/S, cncf-cla: yes, lgtm, area/conformance, kind/test

#2027 Update stale comment for ListenerConditionAccepted
  apis/v1beta1/gateway_types.go
Labels: ok-to-test, approved, size/S, release-note-none, kind/cleanup, kind/documentation, cncf-cla: yes, lgtm

#2028 Update Contour implementation documentation
  site-src/implementations.md
Labels: size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#1956 Bump k8s.io to v0.27.1
  cmd/admission/main.go
  conformance/utils/kubernetes/helpers.go
  conformance/utils/roundtripper/roundtripper.go
  go.mod
  go.sum
  hack/verify-golint.sh
  pkg/client/clientset/versioned/typed/apis/v1alpha2/fake/fake_gateway.go
  pkg/client/clientset/versioned/typed/apis/v1alpha2/fake/fake_gatewayclass.go
  pkg/client/clientset/versioned/typed/apis/v1alpha2/fake/fake_grpcroute.go
  pkg/client/clientset/versioned/typed/apis/v1alpha2/fake/fake_httproute.go
  pkg/client/clientset/versioned/typed/apis/v1alpha2/fake/fake_referencegrant.go
  pkg/client/clientset/versioned/typed/apis/v1alpha2/fake/fake_tcproute.go
  pkg/client/clientset/versioned/typed/apis/v1alpha2/fake/fake_tlsroute.go
  pkg/client/clientset/versioned/typed/apis/v1alpha2/fake/fake_udproute.go
  pkg/client/clientset/versioned/typed/apis/v1beta1/fake/fake_gateway.go
  pkg/client/clientset/versioned/typed/apis/v1beta1/fake/fake_gatewayclass.go
  pkg/client/clientset/versioned/typed/apis/v1beta1/fake/fake_httproute.go
  pkg/client/clientset/versioned/typed/apis/v1beta1/fake/fake_referencegrant.go
Labels: ok-to-test, approved, tide/merge-method-squash, cncf-cla: yes, lgtm, size/XL, kind/test

#1994 mesh: mark GEPs as Implementable
  geps/gep-1426.md
  geps/gep-1686.md
Labels: size/XS, approved, cncf-cla: yes, lgtm, kind/gep

#2026 Fixing version refs now that v0.7.0 has been released
  README.md
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_referencegrants.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_referencegrants.yaml
  pkg/generator/main.go
  site-src/guides/index.md
Labels: approved, size/S, release-note-none, kind/cleanup, kind/documentation, cncf-cla: yes, lgtm

#1957 Add conformance test flag to set implementation labels on mesh namespaces
  conformance/conformance_test.go
  conformance/mesh/manifests.yaml
  conformance/utils/flags/flags.go
  conformance/utils/kubernetes/apply.go
  conformance/utils/suite/suite.go
  conformance/utils/suite/suite_test.go
  site-src/concepts/conformance.md
Labels: ok-to-test, approved, tide/merge-method-squash, cncf-cla: yes, lgtm, size/L, area/conformance

#1980 Add clarification for ignoring port while matching hostnames and update conformance
  apis/v1beta1/httproute_types.go
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  conformance/tests/httproute-hostname-intersection.go
Labels: ok-to-test, approved, size/S, kind/documentation, cncf-cla: yes, lgtm, area/conformance, kind/test

#1984 Add conformance test for combination of extended match types with core types
  conformance/tests/httproute-method-matching.go
  conformance/tests/httproute-method-matching.yaml
  conformance/tests/httproute-query-param-matching.go
  conformance/tests/httproute-query-param-matching.yaml
  hack/verify-yamllint.sh
Labels: ok-to-test, approved, cncf-cla: yes, lgtm, size/L, area/conformance, kind/test

#2033 Improve documentation to clarify ambiguity regarding same namespace reference grants.
  apis/v1alpha2/object_reference_types.go
  apis/v1alpha2/shared_types.go
  apis/v1beta1/object_reference_types.go
  apis/v1beta1/shared_types.go
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
Labels: ok-to-test, approved, release-note-none, size/M, kind/cleanup, kind/documentation, cncf-cla: yes, lgtm

#2041 Moved Response Header from Experimental to Standard
  mkdocs.yml
Labels: ok-to-test, size/XS, approved, release-note, kind/documentation, cncf-cla: yes, lgtm

#2039 conformance: Fixes to port and scheme redirect tests
  conformance/tests/httproute-redirect-port-and-scheme.go
  conformance/utils/kubernetes/certificate.go
  conformance/utils/suite/suite.go
Labels: kind/bug, approved, size/S, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, area/conformance

#2034 [release-0.7] Request mirroring conformance (#1912)
  conformance/conformance_test.go
  conformance/tests/httproute-request-mirror.go
  conformance/tests/httproute-request-mirror.yaml
  conformance/utils/http/http.go
  conformance/utils/http/mirror.go
  conformance/utils/kubernetes/logs.go
  conformance/utils/suite/features.go
  conformance/utils/suite/suite.go
Labels: approved, release-note, cncf-cla: yes, lgtm, size/L, area/conformance

#2051 chore: cleanup TODO list and alternatives considered for GEP 1709
  geps/gep-1709.md
Labels: approved, size/M, cncf-cla: yes, lgtm, kind/gep, area/conformance

#2050 docs: `AttachedRoutes` docs update
  apis/v1beta1/gateway_types.go
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
Labels: size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2055 Clarifying HTTPRoute exact match behavior
  apis/v1beta1/httproute_types.go
  conformance/tests/httproute-exact-path-matching.go
Labels: size/XS, approved, release-note, kind/cleanup, cncf-cla: yes, lgtm, area/conformance

#2054 Add method matching to HTTPRoute matching precedence order
  apis/v1beta1/httproute_types.go
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  conformance/tests/httproute-method-matching.go
Labels: ok-to-test, approved, size/S, release-note, kind/cleanup, kind/documentation, cncf-cla: yes, lgtm

#2063 Update flagger integration to show v1beta1 support
  site-src/implementations.md
Labels: size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2064 GEP-1619: Add to mkdocs
  mkdocs.yml
Labels: size/XS, approved, needs-ok-to-test, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2067 conformance: wait for namespace to be ready in TLSRoute test
  conformance/tests/tlsroute-simple-same-namespace.go
Labels: approved, size/S, release-note-none, cncf-cla: yes, lgtm, area/conformance, kind/test

#2065 define core protocol/port combinations
  apis/v1beta1/gateway_types.go
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
Labels: size/XS, approved, release-note, tide/merge-method-squash, cncf-cla: yes, lgtm

#1868 GEP-1867: Per-Gateway Infrastructure
  geps/gep-1867.md
Labels: kind/feature, approved, cncf-cla: yes, lgtm, size/L
