Repository kubernetes-sigs/gateway-api, pull requests merged in 2023-07, with the labels that each got.

#2146 apis: document ParentRef functionality for GAMMA
  apis/v1alpha2/referencegrant_types.go
  apis/v1beta1/shared_types.go
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_referencegrants.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_referencegrants.yaml
Labels: approved, release-note, size/M, kind/documentation, cncf-cla: yes, lgtm, area/mesh, release-blocker

#2170 feat: skip-tests flag added to conformance CLI
  conformance/conformance_test.go
  conformance/utils/flags/flags.go
  conformance/utils/suite/suite.go
Labels: kind/feature, approved, size/S, release-note, cncf-cla: yes, lgtm, area/conformance

#2175 ResponseHeaderModifier is already standard since the version now is 0.7+
  geps/gep-1323.md
  site-src/guides/http-header-modifier.md
Labels: ok-to-test, size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2152 Update gep-1742.md to add more Nginx's timeout settings
  geps/gep-1742.md
Labels: ok-to-test, approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2169 Add version information to docs for api types
  mkdocs.yml
  site-src/api-types/gateway.md
  site-src/api-types/gatewayclass.md
  site-src/api-types/grpcroute.md
  site-src/api-types/httproute.md
  site-src/api-types/referencegrant.md
Labels: ok-to-test, approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2172 Link to the conformance test guide from the dev guide
  site-src/contributing/devguide.md
Labels: ok-to-test, size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2176 Clarify usage of matches with PathPrefixRewrite
  apis/v1beta1/httproute_types.go
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
Labels: ok-to-test, size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2066 conformance profiles CLI
  Makefile
  conformance/experimental_conformance_test.go
  conformance/utils/flags/experimental_flags.go
  conformance/utils/suite/experimental_suite.go
  go.mod
  go.sum
Labels: kind/feature, approved, release-note, cncf-cla: yes, lgtm, size/L, area/conformance

#2144 Gateway::Status::Addresses has a new unique type []GatewayStatusAddress
  apis/v1beta1/gateway_types.go
  apis/v1beta1/zz_generated.deepcopy.go
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
Labels: approved, size/S, release-note, cncf-cla: yes, lgtm

#2157 [GEP-1651]: Updated Types & Move to Experimental
  apis/v1alpha2/doc.go
  apis/v1beta1/doc.go
  apis/v1beta1/gateway_types.go
  apis/v1beta1/gatewayclass_types.go
  apis/v1beta1/zz_generated.deepcopy.go
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  examples/experimental/routability/gateways.yaml
  geps/gep-1651.md
  hack/invalid-examples/v1beta1/gateway/invalid-routability.yaml
  hack/verify-examples-kind.sh
  mkdocs.yml
Labels: kind/feature, approved, release-note, tide/merge-method-squash, cncf-cla: yes, lgtm, size/L, kind/gep

#2171 [GEP 1651]: Routability Conformance
  conformance/tests/gateway-routability-bad-mutation.yaml
  conformance/tests/gateway-routability-broken.yaml
  conformance/tests/gateway-routability-cluster.yaml
  conformance/tests/gateway-routability-default.yaml
  conformance/tests/gateway-routability-private.yaml
  conformance/tests/gateway-routability-public.yaml
  conformance/tests/gateway-routability.go
  conformance/utils/suite/features.go
Labels: kind/feature, approved, release-note, cncf-cla: yes, lgtm, size/L, kind/gep, area/conformance, kind/test

#2182 Update GAMMA meetings to every other week, per discussion in the GAMMA meeting.
  site-src/contributing/index.md
Labels: size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2180 Conformance Profiles (GEP 1709) to Experimental status
  geps/gep-1709.md
  geps/overview.md
  mkdocs.yml
Labels: approved, size/M, kind/cleanup, cncf-cla: yes, lgtm, kind/gep

#2183 Fix list format in FromNamespaces doc
  apis/v1beta1/gateway_types.go
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
Labels: size/XS, approved, needs-ok-to-test, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2193 conformance-profiles CLI fixes
  conformance/experimental_conformance_test.go
Labels: kind/bug, size/XS, approved, release-note-none, cncf-cla: yes, lgtm, area/conformance

#2168 Add WSO2 APK implementation to docs
  site-src/implementations.md
Labels: ok-to-test, approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2184 Add SupportedFeature for port 8080 on Gateway
  apis/v1beta1/validation/gateway_test.go
  conformance/base/manifests.yaml
  conformance/tests/gateway-observed-generation-bump.go
  conformance/tests/httproute-redirect-port-and-scheme.go
  conformance/tests/httproute-redirect-port-and-scheme.yaml
  conformance/utils/suite/features.go
Labels: approved, needs-ok-to-test, release-note-none, size/M, cncf-cla: yes, lgtm

#2185 docs(site-src): update the example for the matches
  site-src/api-types/httproute.md
Labels: approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2161 fix: Validate requestRedirect with backendrefs
  apis/v1alpha2/validation/httproute_test.go
  apis/v1beta1/validation/httproute.go
  apis/v1beta1/validation/httproute_test.go
  hack/invalid-examples/v1beta1/httproute/invalid-request-redirect-with-backendref.yaml
Labels: kind/bug, ok-to-test, approved, release-note, size/M, cncf-cla: yes, lgtm, kind/test

#2194 conformance: use interface instead of concrete impl for Kubernetes client
  conformance/utils/http/mirror.go
  conformance/utils/kubernetes/logs.go
  conformance/utils/suite/suite.go
Labels: size/XS, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm

#2164 Only require a GatewayClass if the gateway suite is being run
  conformance/utils/suite/suite.go
Labels: ok-to-test, approved, size/S, release-note-none, cncf-cla: yes, lgtm, area/conformance, kind/test

#2195 fix Gateway name in TLSRoute invalid reference grant test
  conformance/tests/tlsroute-invalid-reference-grant.yaml
Labels: size/XS, approved, kind/failing-test, release-note-none, cncf-cla: yes, lgtm, area/conformance, kind/test

#2196 `conformanceReport` api update
  conformance/apis/v1alpha1/profilereport.go
  conformance/experimental_conformance_test.go
  conformance/utils/suite/experimental_suite.go
Labels: approved, size/S, release-note-none, cncf-cla: yes, lgtm, area/conformance

#2200 Fix missing fields in experimental conformance suite setup
  conformance/utils/suite/experimental_suite.go
Labels: kind/bug, size/XS, approved, release-note-none, cncf-cla: yes, lgtm, area/conformance, kind/test

#2201 Add Kuadrant to integrations
  site-src/implementations.md
Labels: ok-to-test, approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2134 Remove Policy Attachment details from site docs, point to GEP
  site-src/references/policy-attachment.md
Labels: ok-to-test, approved, release-note-none, kind/cleanup, kind/documentation, cncf-cla: yes, lgtm, size/XL

#2203 conformance: fetch Gateway in GatewayMustHaveLatestConditions loop
  conformance/tests/gateway-modify-listeners.go
  conformance/tests/gateway-observed-generation-bump.go
  conformance/tests/gateway-routability.go
  conformance/utils/kubernetes/helpers.go
Labels: approved, release-note-none, size/M, cncf-cla: yes, lgtm, kind/flake, area/conformance

#2080 GEP: Client Certificate Validation for TLS terminating at the Gateway Listener
  geps/gep-91.md
Labels: approved, size/S, release-note-none, cncf-cla: yes, lgtm, kind/gep

#2207 conformance: Make routability tests runnable
  apis/v1beta1/gateway_types.go
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  conformance/tests/gateway-routability-default.yaml
  conformance/tests/gateway-routability.go
  conformance/utils/suite/features.go
  geps/gep-1651.md
Labels: kind/bug, approved, release-note-none, size/M, kind/cleanup, cncf-cla: yes, lgtm, area/conformance, kind/test

#2209 Remove GatewayUnsupportedRoutabilityMutation test
  conformance/tests/gateway-routability-bad-mutation.yaml
  conformance/tests/gateway-routability.go
Labels: approved, release-note-none, size/M, kind/cleanup, cncf-cla: yes, lgtm, area/conformance, kind/test

#2211 Adding new approvers for conformance tests
  OWNERS_ALIASES
  conformance/OWNERS
Labels: size/XS, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, area/conformance

#2228 Clarify necessity for implementations to handle GWC .status
  apis/v1beta1/gatewayclass_types.go
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/standard/gateway.networking.k8s.io_gatewayclasses.yaml
Labels: ok-to-test, size/XS, approved, kind/documentation, cncf-cla: yes, lgtm

#2231 conformance profiles: fix divergence in experimental code
  conformance/utils/suite/experimental_suite.go
Labels: approved, release-note-none, size/M, cncf-cla: yes, lgtm, area/conformance

#2234 `ConformanceReport`'s contact field update
  conformance/apis/v1alpha1/conformancereport.go
  geps/gep-1709.md
Labels: size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, area/conformance

#1781 `GatewayClassObservedGenerationBump` as a core feature
  conformance/tests/gatewayclass-observed-generation-bump.go
  conformance/utils/suite/features.go
Labels: approved, size/S, cncf-cla: yes, lgtm

#2179 Improve AttachedRoutes conformance test
  conformance/tests/gateway-with-attached-routes.go
  conformance/tests/gateway-with-attached-routes.yaml
Labels: ok-to-test, approved, release-note-none, size/M, cncf-cla: yes, lgtm, area/conformance, kind/test

#2236 Add Conformance Profile for NGINX Kubernetes Gateway
  conformance/results/nginx-kubernetes-gateway.yaml
Labels: ok-to-test, approved, release-note-none, size/M, cncf-cla: yes, lgtm, area/conformance

#2240 Docs - Implementations - Application Gateway for Containers
  site-src/implementations.md
Labels: ok-to-test, approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2191 Clarify different between API Gateway and Gateway API
  site-src/faq.md
  site-src/index.md
Labels: ok-to-test, approved, release-note, size/M, kind/documentation, cncf-cla: yes, lgtm

#2237 Add initial conformance results for Contour
  conformance/results/contour.yaml
Labels: approved, release-note-none, size/M, cncf-cla: yes, lgtm, area/conformance

#2243 Add initial conformance results for Kuma
  conformance/results/kuma.yaml
Labels: approved, release-note-none, size/M, cncf-cla: yes, lgtm, area/conformance

#2241 conformance: remove RESTClient in suite.Options, use interface where possible
  conformance/conformance_test.go
  conformance/utils/echo/pod.go
  conformance/utils/suite/experimental_suite.go
  conformance/utils/suite/suite.go
Labels: size/XS, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, area/conformance

#2226 Introduce validations through CEL for Gateway and GatewayClass.
  apis/v1beta1/gateway_types.go
  apis/v1beta1/gatewayclass_types.go
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  hack/cel-validation/gateway_test.go
  hack/cel-validation/gatewayclass_test.go
  hack/cel-validation/main_test.go
  hack/run-cel-validation-test.sh
Labels: kind/feature, approved, release-note, cncf-cla: yes, lgtm, size/XL
