Repository kubernetes-sigs/gateway-api, pull requests merged in 2024-11, with the labels that each got.

#3425 Port v1.1.1 changelog to main
  CHANGELOG/1.1-CHANGELOG.md
Labels: approved, size/S, release-note-none, cncf-cla: yes, lgtm

#3422 chore: remove gwctl groups
  OWNERS_ALIASES
Labels: size/XS, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm

#3387 Add conformance report for Traefik Proxy
  conformance/reports/v1.2.0/traefik-traefik/README.md
  conformance/reports/v1.2.0/traefik-traefik/experimental-v3.2.0-default-report.yaml
  site-src/implementations.md
Labels: ok-to-test, approved, release-note-none, cncf-cla: yes, lgtm, size/L, area/conformance

#3427 Add v1.2 conformance report table
  hack/mkdocs-generate-conformance.py
  mkdocs.yml
  site-src/implementations/v1.1.md
  site-src/implementations/v1.2.md
Labels: approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, size/L, area/conformance

#3436 Clarify why the older policy wins in GEP 713
  geps/gep-713/index.md
Labels: ok-to-test, size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, kind/gep

#3421 Fix link in Mesh page
  site-src/mesh/index.md
Labels: size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3450 chore: add Gateway API survey banner
  docs/stylesheets/banner.css
  override/partials/header.html
  site-src/overrides/main.html
Labels: approved, release-note-none, size/M, cncf-cla: yes, lgtm

#3459 Bump Istio conformance report to the official release version
  conformance/reports/v1.2.0/istio-istio/README.md
  conformance/reports/v1.2.0/istio-istio/experimental-1.24-default-report.yaml
Labels: size/XS, approved, release-note-none, cncf-cla: yes, lgtm, area/conformance

#3454 override unmarshalJSON for supportedfeature to ensure comptability
  apis/v1/gatewayclass_types_overrides.go
  apis/v1/gatewayclass_types_test.go
  pkg/generated/openapi/zz_generated.openapi.go
Labels: kind/bug, approved, release-note, cncf-cla: yes, lgtm, size/L

#3443 Switch the GEP-713 parable to refer to Chihiro.
  geps/gep-713/index.md
Labels: approved, release-note-none, size/M, cncf-cla: yes, lgtm, kind/gep

#3455 Add docs for infrastructure field
  mkdocs.yml
  site-src/guides/infrastructure.md
Labels: approved, release-note-none, size/M, kind/documentation, cncf-cla: yes, lgtm

#3463 chore: add Conformance report for KGO 1.4
  conformance/reports/v1.2.0/kong-gateway-operator/README.md
  conformance/reports/v1.2.0/kong-gateway-operator/standard-v1.4.0-expressions-report.yaml
  site-src/implementations.md
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/L, area/conformance

#3479 Changelog for v1.2.1
  CHANGELOG/1.2-CHANGELOG.md
Labels: approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3478 chore: bump bundle version to 1.2.1
  config/crd/experimental/gateway.networking.k8s.io_backendlbpolicies.yaml
  config/crd/experimental/gateway.networking.k8s.io_backendtlspolicies.yaml
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_referencegrants.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_referencegrants.yaml
  conformance/utils/suite/suite_test.go
  pkg/consts/consts.go
Labels: approved, size/S, release-note-none, cncf-cla: yes, lgtm
