Repository kubernetes-sigs/gateway-api, pull requests merged in 2024-03, with the labels that each got.

#2822 Inject a fake clock during testing `gwctl get gateways`
  gwctl/pkg/cmd/get/get.go
  gwctl/pkg/printer/gateways.go
  gwctl/pkg/printer/gateways_test.go
Labels: approved, size/S, release-note-none, cncf-cla: yes, lgtm, kind/test, area/gwctl

#2830 Update acme-lb with example-gatewayClass.
  examples/experimental/basic-grpc.yaml
  examples/standard/basic-http.yaml
  examples/standard/gateway-addresses.yaml
  examples/standard/http-redirect.yaml
  examples/standard/simple-gateway/gateway.yaml
  examples/standard/tls-basic.yaml
  examples/standard/tls-cert-cross-namespace.yaml
  examples/standard/wildcard-tls-gateway.yaml
  geps/gep-1651/index.md
  hack/invalid-examples/standard/gateway/duplicate-listeners.yaml
  hack/invalid-examples/standard/gateway/hostname-tcp.yaml
  hack/invalid-examples/standard/gateway/hostname-udp.yaml
  hack/invalid-examples/standard/gateway/invalid-addresses.yaml
  hack/invalid-examples/standard/gateway/invalid-listener-name.yaml
  hack/invalid-examples/standard/gateway/invalid-listener-port.yaml
  hack/invalid-examples/standard/gateway/invalid-tls-mode.yaml
  hack/invalid-examples/standard/gateway/tlsconfig-tcp.yaml
  site-src/guides/simple-gateway.md
Labels: ok-to-test, approved, release-note-none, size/M, kind/documentation, cncf-cla: yes, lgtm, kind/gep

#2721 Loosening TLS validation to enable indirect TLS config
  apis/v1/gateway_types.go
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  pkg/test/cel/gateway_test.go
  site-src/guides/implementers.md
  site-src/guides/tls.md
Labels: kind/feature, approved, release-note, kind/documentation, cncf-cla: yes, lgtm, size/L

#2805 Add missing columns to `gwctl get httproutes`
  gwctl/pkg/cmd/get/get.go
  gwctl/pkg/printer/httproutes.go
  gwctl/pkg/printer/httproutes_test.go
Labels: kind/feature, approved, release-note, cncf-cla: yes, lgtm, size/L, area/gwctl

#2837 Sort gateways by name and gatewayclass
  gwctl/pkg/printer/gateways.go
  gwctl/pkg/printer/gateways_test.go
Labels: kind/feature, approved, release-note-none, cncf-cla: yes, lgtm, size/L, area/gwctl

#2745 Basic GRPCRoute Conformance Tests
  conformance/base/manifests.yaml
  conformance/echo-basic/.gitignore
  conformance/echo-basic/.go.mod
  conformance/echo-basic/.go.sum
  conformance/echo-basic/echo-basic.go
  conformance/echo-basic/echo-basic_test.go
  conformance/echo-basic/go.mod
  conformance/echo-basic/go.sum
  conformance/echo-basic/grpc/grpc.go
  conformance/echo-basic/grpc/grpcechoserver_test.go
  conformance/echo-basic/grpcecho.proto
  conformance/echo-basic/grpcechoserver/grpcecho.pb.go
  conformance/echo-basic/grpcechoserver/grpcecho_grpc.pb.go
  conformance/tests/grpcroute-exact-method-matching.go
  conformance/tests/grpcroute-exact-method-matching.yaml
  conformance/tests/grpcroute-header-matching.go
  conformance/tests/grpcroute-header-matching.yaml
  conformance/tests/grpcroute-listener-hostname-matching.go
  conformance/tests/grpcroute-listener-hostname-matching.yaml
  conformance/utils/grpc/grpc.go
  conformance/utils/kubernetes/helpers.go
  conformance/utils/suite/features.go
  docker/Dockerfile.echo-basic
  go.mod
  go.sum
  hack/boilerplate/boilerplate.py
  hack/update-codegen.sh
Labels: ok-to-test, approved, size/XXL, release-note, tide/merge-method-squash, cncf-cla: yes, lgtm, kind/test

#2808 Add missing columns to `gwctl get policies`
  gwctl/pkg/cmd/get/get.go
  gwctl/pkg/printer/policies.go
  gwctl/pkg/printer/policies_test.go
Labels: kind/feature, approved, release-note, size/M, cncf-cla: yes, lgtm, area/gwctl

#2834 chore: conformance report for KIC 3.1.1
  conformance/reports/v1.0.0/kong-kubernetes-ingress-controller/README.md
  conformance/reports/v1.0.0/kong-kubernetes-ingress-controller/v3.1.1-report.yaml
Labels: ok-to-test, approved, release-note-none, size/M, cncf-cla: yes, lgtm, area/conformance

#2850 gofumpt the repo
  gwctl/pkg/policymanager/merger_test.go
  gwctl/pkg/resourcediscovery/nodes.go
  gwctl/pkg/resourcediscovery/resourcemodel.go
  tools/tools.go
Labels: approved, size/S, release-note-none, cncf-cla: yes, lgtm, area/gwctl

#2811 Add missing columns to `gwctl get policycrds`
  gwctl/pkg/printer/policies.go
  gwctl/pkg/printer/policies_test.go
Labels: kind/feature, approved, size/S, release-note, cncf-cla: yes, lgtm, area/gwctl

#2847 Implement `gwctl get gatewayclass`
  gwctl/pkg/cmd/get/get.go
  gwctl/pkg/printer/gatewayclasses.go
  gwctl/pkg/printer/gatewayclasses_test.go
Labels: kind/feature, approved, release-note, cncf-cla: yes, lgtm, size/L, area/gwctl

#2825 gwctl - reorganize and improve error handling
  gwctl/cmd/describe.go
  gwctl/cmd/get.go
  gwctl/cmd/main.go
  gwctl/cmd/root.go
  gwctl/go.mod
  gwctl/main.go
  gwctl/pkg/printer/backends.go
  gwctl/pkg/printer/gatewayclasses.go
  gwctl/pkg/printer/gatewayclasses_test.go
  gwctl/pkg/printer/gateways.go
  gwctl/pkg/printer/gateways_test.go
  gwctl/pkg/printer/httproutes.go
  gwctl/pkg/printer/httproutes_test.go
  gwctl/pkg/printer/policies.go
  gwctl/pkg/printer/policies_test.go
  gwctl/pkg/utils/types.go
Labels: ok-to-test, approved, tide/merge-method-squash, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, size/L, area/gwctl

#2836 Implement basic functionality of gwctl describe namespace
  gwctl/Makefile
  gwctl/cmd/describe.go
  gwctl/go.mod
  gwctl/go.sum
  gwctl/pkg/printer/httproutes_test.go
  gwctl/pkg/printer/namespace.go
  gwctl/pkg/printer/namespace_test.go
  gwctl/pkg/resourcediscovery/discoverer.go
  gwctl/pkg/resourcediscovery/nodes.go
  gwctl/pkg/resourcediscovery/resourcemodel.go
Labels: kind/feature, ok-to-test, approved, release-note, tide/merge-method-squash, cncf-cla: yes, lgtm, size/L, area/gwctl

#2855 Inject a real clock into `gwctl get policies`
  gwctl/cmd/get.go
Labels: kind/bug, size/XS, approved, release-note-none, cncf-cla: yes, lgtm, area/gwctl

#2863 Add gwctl memorandum GEP to mkdocs
  mkdocs.yml
Labels: size/XS, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm

#2296 docs(conformance): mention network policies
  site-src/concepts/conformance.md
Labels: ok-to-test, approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm, area/conformance

#2853 Add doc and httproute example for HTTP request mirroring
  examples/standard/http-request-mirroring/httproute-mirroring.yaml
  mkdocs.yml
  site-src/guides/http-request-mirroring.md
Labels: ok-to-test, approved, release-note-none, size/M, kind/documentation, cncf-cla: yes, lgtm

#2634 GEP-1619: Refactor SessionPersistencePolicy into BackendLBPolicy
  geps/gep-1619/index.md
  geps/gep-1619/metadata.yaml
Labels: ok-to-test, approved, tide/merge-method-squash, release-note-none, cncf-cla: yes, lgtm, size/XL, kind/gep

#2876 Fix typo
  site-src/mesh/gamma.md
Labels: ok-to-test, size/XS, approved, cncf-cla: yes, lgtm

#2878 Update envoy gateway version
  site-src/implementations.md
Labels: ok-to-test, size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#2661 conformance: initial UDPRoute test
  conformance/base/manifests.yaml
  conformance/tests/udproute-simple.go
  conformance/tests/udproute-simple.yaml
  conformance/utils/kubernetes/helpers.go
  conformance/utils/suite/features.go
  go.mod
  go.sum
Labels: ok-to-test, approved, release-note-none, cncf-cla: yes, lgtm, size/L, area/conformance, kind/test

#2877 Added grpc conformance profile
  conformance/utils/suite/experimental_profiles.go
Labels: kind/feature, ok-to-test, approved, size/S, release-note, cncf-cla: yes, lgtm, area/conformance

#2906 fix: move udp-gateway into specific test fixture
  conformance/base/manifests.yaml
  conformance/tests/udproute-simple.yaml
Labels: kind/bug, ok-to-test, approved, release-note-none, size/M, cncf-cla: yes, lgtm

#2852 Adding ngrok Gateway API Implementation to Implementations page
  site-src/implementations.md
Labels: ok-to-test, approved, size/S, release-note-none, cncf-cla: yes, lgtm

#2902 Sort `gwctl describe namespace` outputs by name
  gwctl/pkg/printer/namespace.go
Labels: kind/bug, approved, size/S, release-note-none, cncf-cla: yes, lgtm, area/gwctl

#2868 Experimental conformance promotion to standard
  Makefile
  conformance/apis/v1/conformancereport.go
  conformance/apis/v1/doc.go
  conformance/apis/v1/profilereport.go
  conformance/apis/v1/result.go
  conformance/apis/v1/statistics.go
  conformance/conformance_test.go
  conformance/experimental_conformance_test.go
  conformance/utils/flags/experimental_flags.go
  conformance/utils/flags/flags.go
  conformance/utils/suite/conformance.go
  conformance/utils/suite/conformance_test.go
  conformance/utils/suite/experimental_suite.go
  conformance/utils/suite/experimental_suite_test.go
  conformance/utils/suite/profiles.go
  conformance/utils/suite/reports.go
  conformance/utils/suite/reports_test.go
  conformance/utils/suite/suite.go
  conformance/utils/suite/suite_test.go
Labels: ok-to-test, approved, size/XXL, release-note, cncf-cla: yes, lgtm, area/conformance

#2775 Add route port attachment conformance test
  conformance/tests/httproute-listener-port-matching.go
  conformance/tests/httproute-listener-port-matching.yaml
  conformance/tests/mesh-ports.go
  conformance/utils/kubernetes/helpers.go
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/L, area/conformance, kind/test

#2892 Add label filtering (-l) for get commands
  gwctl/cmd/get.go
  gwctl/pkg/printer/gatewayclasses_test.go
  gwctl/pkg/printer/gateways_test.go
  gwctl/pkg/printer/httproutes_test.go
  gwctl/pkg/resourcediscovery/discoverer.go
Labels: ok-to-test, approved, release-note, tide/merge-method-squash, cncf-cla: yes, lgtm, size/L, area/gwctl

#2865 Implement `gwctl get namespace`
  gwctl/cmd/get.go
  gwctl/pkg/printer/namespace.go
  gwctl/pkg/printer/namespace_test.go
Labels: kind/feature, approved, release-note, cncf-cla: yes, lgtm, size/L, area/gwctl

#2894 fix(gwctl): prevent panic when describing gatewayclasses with no description
  gwctl/pkg/printer/gatewayclasses.go
  gwctl/pkg/printer/gatewayclasses_test.go
Labels: kind/bug, ok-to-test, approved, release-note, tide/merge-method-squash, cncf-cla: yes, lgtm, size/L, area/gwctl
