Repository kubernetes-sigs/gateway-api, pull requests merged in 2024-07, with the labels that each got.

#3121 recommend 503 status code for a service with no healthy endpoints
  apis/v1/httproute_types.go
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  pkg/generated/openapi/zz_generated.openapi.go
Labels: size/XS, approved, release-note, kind/cleanup, kind/documentation, cncf-cla: yes, lgtm

#3182 Add conformance report for Traefik Proxy
  conformance/reports/v1.1.0/traefik-traefik/README.md
  conformance/reports/v1.1.0/traefik-traefik/experimental-v3.1.0-default-report.yaml
  site-src/implementations.md
Labels: ok-to-test, approved, release-note-none, size/M, cncf-cla: yes, lgtm, area/conformance

#3166 Move GEP-995 to Implementable
  geps/gep-995/index.md
  geps/gep-995/metadata.yaml
  mkdocs.yml
Labels: ok-to-test, size/XS, approved, release-note-none, cncf-cla: yes, lgtm, kind/gep

#3195 Add policy label to BackendLBPolicy to make it recognizable in gwctl
  apis/v1alpha2/backendlbpolicy_types.go
  config/crd/experimental/gateway.networking.k8s.io_backendlbpolicies.yaml
Labels: size/XS, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm

#3185 remove unnecessary S in ProtocolType validation
  apis/v1/gateway_types.go
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
Labels: kind/bug, ok-to-test, size/XS, approved, release-note-none, cncf-cla: yes, lgtm

#3202 docs: Fix missing v1beta1, v1alpha3 API versions
  hack/api-docs/pkg.tpl
Labels: size/XS, approved, release-note-none, cncf-cla: yes, lgtm

#3203 Update Istio service mesh implementation status to GA
  site-src/implementations.md
Labels: size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3181 [gwctl] Expand the output of gwctl describe httproute
  gwctl/cmd/subcommand.go
  gwctl/pkg/printer/backends.go
  gwctl/pkg/printer/common.go
  gwctl/pkg/printer/gatewayclasses.go
  gwctl/pkg/printer/gateways.go
  gwctl/pkg/printer/httproutes.go
  gwctl/pkg/printer/httproutes_test.go
  gwctl/pkg/printer/namespace.go
  gwctl/pkg/resourcediscovery/discoverer.go
  gwctl/pkg/resourcediscovery/nodes.go
  gwctl/pkg/resourcediscovery/resourcemodel.go
  gwctl/pkg/resourcediscovery/resourcemodel_test.go
Labels: kind/feature, approved, release-note, cncf-cla: yes, lgtm, size/XL, area/gwctl

#3186 make update-codegen.sh runnable on Mac
  hack/update-codegen.sh
Labels: kind/bug, ok-to-test, approved, size/S, release-note-none, cncf-cla: yes, lgtm

#3192 Add conformance tests for in-cluster Gateway infrastructure
  conformance/tests/gateway-infrastructure.go
  conformance/tests/gateway-infrastructure.yaml
  geps/gep-1867/index.md
  geps/gep-1867/metadata.yaml
  pkg/features/features.go
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/L, kind/gep, area/conformance, kind/test

#3218 Remove extra spacing in the API Specification aliases
  hack/api-docs/type.tpl
Labels: ok-to-test, size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3215 fix: allow the header based session persistence not to have AbsoluteTimeout
  apis/v1/shared_types.go
  config/crd/experimental/gateway.networking.k8s.io_backendlbpolicies.yaml
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  geps/gep-1619/index.md
  pkg/test/cel/backendlbpolicy_test.go
Labels: kind/bug, approved, size/S, release-note-none, cncf-cla: yes, lgtm, kind/gep

#3178 Adding GEP 3171: Percentage-based Request Mirroring
  geps/gep-3171/index.md
  geps/gep-3171/metadata.yaml
Labels: ok-to-test, approved, release-note-none, cncf-cla: yes, lgtm, size/L, kind/gep

#3227 Update GRPCRoute GEP to standard
  geps/gep-1016/index.md
  mkdocs.yml
Labels: kind/bug, approved, size/S, release-note-none, kind/cleanup, kind/documentation, cncf-cla: yes, lgtm, kind/gep

#3205 HTTPRoute: allow more match clauses
  apis/v1/grpcroute_types.go
  apis/v1/httproute_types.go
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  pkg/test/cel/httproute_test.go
Labels: kind/feature, approved, release-note, size/M, cncf-cla: yes, lgtm

#3191 Add v1.1.0 conformance report for envoy gateway v1.1.0
  conformance/reports/v1.1.0/envoy-gateway/README.md
  conformance/reports/v1.1.0/envoy-gateway/experimental-v1.1.0-default-report.yaml
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/L, area/conformance

#3200 change SupportedFeatures API to a list of subobjects
  apis/applyconfiguration/apis/v1/gatewayclassstatus.go
  apis/applyconfiguration/apis/v1/supportedfeature.go
  apis/applyconfiguration/internal/internal.go
  apis/applyconfiguration/utils.go
  apis/v1/gatewayclass_types.go
  apis/v1/zz_generated.deepcopy.go
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  pkg/generated/openapi/zz_generated.openapi.go
Labels: kind/feature, approved, release-note, size/M, kind/cleanup, cncf-cla: yes, lgtm, kind/gep

#3231 docs: add Mattia Lavacca as Gateway API maintainer
  OWNERS_ALIASES
Labels: size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm
