Repository kubernetes-sigs/gateway-api, pull requests merged in 2024-09, with the labels that each got.

#3284 Validation for label keys and values according to Kubernetes specification
  apis/applyconfiguration/apis/v1/gatewayinfrastructure.go
  apis/v1/gateway_types.go
  apis/v1/shared_types.go
  apis/v1/zz_generated.deepcopy.go
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  pkg/test/cel/gateway_experimental_test.go
Labels: kind/feature, ok-to-test, approved, release-note, cncf-cla: yes, lgtm, size/L

#3305 chore(conformance): add KIC v3.3.1 report
  conformance/reports/v1.1.0/kong-kubernetes-ingress-controller/README.md
  conformance/reports/v1.1.0/kong-kubernetes-ingress-controller/experimental-v3.3.1-expressions-report.yaml
Labels: approved, release-note-none, size/M, cncf-cla: yes, lgtm, area/conformance

#3272 Remove experimental from gateway infrastructure
  apis/v1/gateway_types.go
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  geps/gep-1867/index.md
  hack/verify-codegen.sh
  pkg/generated/openapi/zz_generated.openapi.go
Labels: approved, release-note, size/M, cncf-cla: yes, lgtm, kind/gep

#3319 geps: Add the missing trailing backtick to gep-3155
  geps/gep-3155/index.md
Labels: ok-to-test, approved, size/S, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, kind/gep

#3316 feat: cel validation on multiple K8S versions
  Makefile
  hack/test-crds-validation.sh
  hack/verify-all.sh
Labels: approved, release-note-none, size/M, cncf-cla: yes, lgtm, kind/test

#3315 Fix typo in MESH-GRPC conformance test profile name
  conformance/utils/suite/profiles.go
Labels: ok-to-test, size/XS, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm

#3325 Fix CEL tests for v1.28+
  pkg/test/cel/backendlbpolicy_test.go
  pkg/test/cel/backendtlspolicy_test.go
  pkg/test/cel/gateway_experimental_test.go
  pkg/test/cel/gateway_test.go
  pkg/test/cel/gatewayclass_test.go
  pkg/test/cel/grpcroute_test.go
  pkg/test/cel/httproute_test.go
  pkg/test/cel/main_test.go
Labels: approved, kind/failing-test, release-note-none, size/M, kind/cleanup, cncf-cla: yes, lgtm

#3329 Fixing kind v1.30 image ref
  hack/test-crds-validation.sh
Labels: kind/bug, size/XS, approved, kind/failing-test, release-note-none, cncf-cla: yes, lgtm

#3330 Finalize verify->crds-validation job migration
  hack/test-crds-validation.sh
  hack/verify-all.sh
Labels: size/XS, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm

#3313 Signal test stability
  conformance/apis/v1/conformancereport.go
  conformance/conformance.go
  conformance/tests/udproute-simple.go
  conformance/utils/flags/flags.go
  conformance/utils/suite/conformance.go
  conformance/utils/suite/reports.go
  conformance/utils/suite/suite.go
  conformance/utils/suite/suite_test.go
Labels: kind/feature, approved, release-note, cncf-cla: yes, lgtm, size/L, area/conformance

#3327 Add changelog for release v1.2.0-rc1
  CHANGELOG/1.2-CHANGELOG.md
  CHANGELOG/1.2-TEAM.md
  config/crd/experimental/gateway.networking.k8s.io_backendlbpolicies.yaml
  config/crd/experimental/gateway.networking.k8s.io_backendtlspolicies.yaml
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_referencegrants.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_referencegrants.yaml
  conformance/utils/suite/suite_test.go
  hack/update-codegen.sh
  pkg/consts/consts.go
Labels: approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, size/XL

#3343 chore: add conformance suite client options
  conformance/conformance.go
  conformance/utils/suite/suite.go
Labels: kind/bug, size/XS, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, area/conformance, kind/test

#3350 Fix conformance test race condition
  conformance/tests/gateway-with-attached-routes-with-port-8080.yaml
Labels: kind/bug, ok-to-test, size/XS, approved, kind/failing-test, release-note-none, cncf-cla: yes, lgtm

#3359 Fix a number of GEP stage errors
  geps/gep-1294/index.md
  geps/gep-1294/metadata.yaml
  geps/gep-1762/index.md
  geps/gep-1762/metadata.yaml
  geps/gep-1911/index.md
  geps/gep-1911/metadata.yaml
  geps/gep-3155/index.md
  geps/gep-3155/metadata.yaml
  geps/gep-3171/index.md
  geps/gep-3171/metadata.yaml
  geps/gep-995/index.md
  geps/gep-995/metadata.yaml
  mkdocs.yml
  netlify.toml
  requirements.txt
  site-src/implementations/v1.0.md
  site-src/implementations/v1.1.md
Labels: approved, release-note-none, kind/cleanup, kind/documentation, cncf-cla: yes, lgtm, size/L, kind/gep

#3361 Disable v1alpha2 versions for GRPCRoute and ReferenceGrant
  apis/v1alpha2/grpcroute_types.go
  apis/v1alpha2/referencegrant_types.go
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_referencegrants.yaml
  config/crd/standard/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/standard/gateway.networking.k8s.io_referencegrants.yaml
  examples/experimental/v1alpha2/grpc-routing/bar-grpcroute.yaml
  examples/experimental/v1alpha2/grpc-routing/foo-grpcroute.yaml
  examples/experimental/v1alpha2/grpc-routing/gateway.yaml
  examples/experimental/v1alpha2/grpc-routing/reflection-grpcroute.yaml
  examples/standard/traffic-splitting/grpc-traffic-split-2.yaml
  hack/invalid-examples/experimental/grpcroute/invalid-filter-duplicate-header.yaml
  hack/invalid-examples/experimental/grpcroute/invalid-method.yaml
  hack/invalid-examples/experimental/grpcroute/invalid-service.yaml
  hack/invalid-examples/experimental/referencegrant/missing-from.yaml
  hack/invalid-examples/experimental/referencegrant/missing-ns.yaml
  hack/invalid-examples/experimental/referencegrant/missing-to.yaml
  site-src/guides/grpc-routing.md
Labels: approved, release-note, kind/cleanup, kind/documentation, cncf-cla: yes, lgtm, size/L

#3363 Update CHANGELOG with v1.2.0-rc2 details
  CHANGELOG/1.2-CHANGELOG.md
  config/crd/experimental/gateway.networking.k8s.io_backendlbpolicies.yaml
  config/crd/experimental/gateway.networking.k8s.io_backendtlspolicies.yaml
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_referencegrants.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_referencegrants.yaml
  conformance/utils/suite/suite_test.go
  pkg/consts/consts.go
Labels: approved, release-note-none, size/M, cncf-cla: yes, lgtm

#3364 Update release docs with new details
  RELEASE.md
Labels: approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3369 docs: Rendering Error for GRPCRoute page
  site-src/api-types/grpcroute.md
Labels: size/XS, approved, needs-ok-to-test, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3299 Docs: route rule name
  examples/experimental/http-route-rule-name.yaml
  geps/gep-995/index.md
  mkdocs.yml
  site-src/api-types/grpcroute.md
  site-src/api-types/httproute.md
Labels: ok-to-test, approved, release-note, size/M, kind/documentation, cncf-cla: yes, lgtm, kind/gep
