Repository kubernetes-sigs/gateway-api, pull requests merged in 2024-05, with the labels that each got.

#2999 Improve utilities for gwctl describe and add more info to gateway descriptions
  gwctl/cmd/describe.go
  gwctl/pkg/common/clients.go
  gwctl/pkg/printer/common.go
  gwctl/pkg/printer/common_test.go
  gwctl/pkg/printer/gateways.go
  gwctl/pkg/printer/gateways_test.go
  gwctl/pkg/resourcediscovery/discoverer.go
  gwctl/pkg/resourcediscovery/nodes.go
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/XL, area/gwctl

#3021 Add conformance report for Application Gateway for Containers
  conformance/reports/v1.0.0/azure-application-gateway-for-containers/README.md
  conformance/reports/v1.0.0/azure-application-gateway-for-containers/v1.0.0-report.yaml
  site-src/implementations.md
Labels: ok-to-test, approved, release-note-none, size/M, cncf-cla: yes, lgtm, area/conformance

#2973 [gwctl ] feat: `gwctl get backends` support
  gwctl/cmd/get.go
  gwctl/pkg/printer/backends.go
  gwctl/pkg/printer/backends_test.go
  gwctl/pkg/printer/httproutes.go
  gwctl/pkg/printer/policies.go
  gwctl/pkg/resourcediscovery/discoverer.go
Labels: kind/feature, ok-to-test, approved, release-note, cncf-cla: yes, lgtm, size/XL, area/gwctl

#3043 fix: Ensure that TestPoliciesPrinter_PrintCRDs uses a function-under-test which returns a deterministic output.
  gwctl/pkg/printer/policies_test.go
Labels: size/XS, approved, release-note-none, cncf-cla: yes, lgtm, kind/flake, area/gwctl

#3001 Properly handle different versioned resources in gwctl (eg. v1beta1 v/s v1 APIs) and related code cleanups
  gwctl/cmd/describe.go
  gwctl/cmd/get.go
  gwctl/pkg/common/clients.go
  gwctl/pkg/printer/backends_test.go
  gwctl/pkg/printer/gatewayclasses_test.go
  gwctl/pkg/printer/gateways_test.go
  gwctl/pkg/printer/httproutes_test.go
  gwctl/pkg/printer/namespace_test.go
  gwctl/pkg/printer/policies_test.go
  gwctl/pkg/resourcediscovery/discoverer.go
  gwctl/pkg/resourcediscovery/discoverer_test.go
Labels: approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, size/L, area/gwctl

#2874 Conformance display profiles on gatewayapi docs
  conformance/reports/v1.0.0/cilium/v1.15.0-pre.3-report.yaml
  hack/mkdocs-copy-geps.py
  hack/mkdocs-generate-conformance.py
  mkdocs.yml
  requirements.txt
  site-src/implementation-table.md
  site-src/implementations.md
  site-src/js/implementations.js
Labels: ok-to-test, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, size/L

#3029 Make gwctl ReferenceGrant aware. Capture any errors observed while constructing the resource graph.
  gwctl/cmd/describe.go
  gwctl/cmd/get.go
  gwctl/pkg/common/testhelpers.go
  gwctl/pkg/common/types.go
  gwctl/pkg/printer/backends_test.go
  gwctl/pkg/relations/relations.go
  gwctl/pkg/resourcediscovery/discoverer.go
  gwctl/pkg/resourcediscovery/discoverer_test.go
  gwctl/pkg/resourcediscovery/errors.go
  gwctl/pkg/resourcediscovery/main_test.go
  gwctl/pkg/resourcediscovery/nodes.go
  gwctl/pkg/resourcediscovery/resourcemodel.go
Labels: kind/feature, approved, size/XXL, release-note, cncf-cla: yes, lgtm, area/gwctl

#3047 Conformance test for listener isolation
  conformance/tests/gateway-http-listener-isolation-with-hostname-intersection.yaml
  conformance/tests/gateway-http-listener-isolation.go
  conformance/tests/gateway-http-listener-isolation.yaml
  pkg/features/features.go
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/L, area/conformance, kind/test

#3046 Adding changelog for v1.1.0-rc2
  CHANGELOG.md
  config/crd/experimental/gateway.networking.k8s.io_backendlbpolicies.yaml
  config/crd/experimental/gateway.networking.k8s.io_backendtlspolicies.yaml
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_referencegrants.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_referencegrants.yaml
  conformance/utils/suite/suite_test.go
  pkg/consts/consts.go
Labels: approved, release-note-none, size/M, kind/documentation, cncf-cla: yes, lgtm

#3059 SessionPersistence pointer field should have omitempty tag
  apis/v1/grpcroute_types.go
  apis/v1/httproute_types.go
  apis/v1alpha2/backendlbpolicy_types.go
Labels: kind/bug, size/XS, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm

#3060 Splitting changelogs for each minor version
  CHANGELOG.md
  CHANGELOG/0.x-CHANGELOG.md
  CHANGELOG/1.0-CHANGELOG.md
  CHANGELOG/1.1-CHANGELOG.md
  CHANGELOG/1.1-TEAM.md
Labels: approved, size/XXL, release-note-none, kind/cleanup, kind/documentation, cncf-cla: yes, lgtm

#3061 Contour conformance report updates
  conformance/reports/v0.8.1/projectcontour-contour/README.md
  conformance/reports/v0.8.1/projectcontour-contour/v1.27.3-report.yaml
  conformance/reports/v1.0.0/projectcontour-contour/README.md
  conformance/reports/v1.0.0/projectcontour-contour/v1.28.4-report.yaml
  conformance/reports/v1.0.0/projectcontour-contour/v1.29.0-report.yaml
  site-src/implementations.md
Labels: approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, size/L, area/conformance

#3062 Adding changelog for v1.1.0
  CHANGELOG/1.1-CHANGELOG.md
  CHANGELOG/1.1-TEAM.md
  config/crd/experimental/gateway.networking.k8s.io_backendlbpolicies.yaml
  config/crd/experimental/gateway.networking.k8s.io_backendtlspolicies.yaml
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_referencegrants.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_referencegrants.yaml
  conformance/utils/suite/suite_test.go
  pkg/consts/consts.go
  site-src/guides/api-design.md
Labels: approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, size/L

#3064 Bumping version to v1.2-dev
  config/crd/experimental/gateway.networking.k8s.io_backendlbpolicies.yaml
  config/crd/experimental/gateway.networking.k8s.io_backendtlspolicies.yaml
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_referencegrants.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_referencegrants.yaml
  conformance/utils/suite/suite_test.go
  pkg/consts/consts.go
Labels: approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3065 Update README for 1.1.0 release
  README.md
Labels: ok-to-test, size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3025 Update Istio status for Istio 1.22 and GW v1.1
  conformance/reports/v1.1.0/istio-istio/1.22-report.yaml
  conformance/reports/v1.1.0/istio-istio/README.md
  site-src/implementations.md
Labels: approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, size/L

#3048 apis: add GatewayClassConditionReason Unsupported
  apis/v1/gatewayclass_types.go
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/standard/gateway.networking.k8s.io_gatewayclasses.yaml
  pkg/generated/openapi/zz_generated.openapi.go
Labels: approved, size/S, release-note, kind/documentation, cncf-cla: yes, lgtm

#3066 Update and standardise admonitions
  site-src/api-types/backendtlspolicy.md
  site-src/api-types/gateway.md
  site-src/api-types/gatewayclass.md
  site-src/api-types/grpcroute.md
  site-src/api-types/httproute.md
  site-src/api-types/referencegrant.md
  site-src/blog/2021/introducing-v1alpha2.md
  site-src/concepts/api-overview.md
  site-src/concepts/use-cases.md
  site-src/contributing/style-guide.md
  site-src/guides/backend-protocol.md
  site-src/guides/grpc-routing.md
  site-src/guides/tcp.md
  site-src/guides/tls.md
  site-src/index.md
  site-src/mesh/index.md
Labels: ok-to-test, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, size/L

#3067 docs: fix Istio version badge
  site-src/implementations.md
Labels: size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3073 Fixing Mesh version references in docs
  site-src/index.md
  site-src/mesh/index.md
Labels: approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3083 fix: Add BackendLBPolicy to experimental kustomization
  config/crd/experimental/kustomization.yaml
Labels: kind/bug, ok-to-test, size/XS, approved, release-note-none, cncf-cla: yes, lgtm

#3076 [gwctl]Optimize Print in backends
  gwctl/go.mod
  gwctl/pkg/common/clients.go
  gwctl/pkg/printer/backends.go
  gwctl/pkg/printer/backends_test.go
  gwctl/pkg/printer/gatewayclasses.go
  gwctl/pkg/printer/gateways.go
  gwctl/pkg/printer/httproutes.go
  gwctl/pkg/printer/namespace.go
  gwctl/pkg/printer/policies.go
  gwctl/pkg/printer/printer.go
Labels: ok-to-test, approved, release-note, cncf-cla: yes, lgtm, size/L, area/gwctl

#3085 fix: kind of CACertificateRefs should be ConfigMap
  examples/experimental/v1alpha3/backendtlspolicy-ca-certs.yaml
Labels: kind/bug, ok-to-test, size/XS, approved, release-note-none, cncf-cla: yes, lgtm

#3084 Providing more detailed upgrade notes for v1.1
  site-src/guides/index.md
Labels: approved, release-note-none, size/M, kind/documentation, cncf-cla: yes, lgtm

#3051 gwctl: Show Events, Analysis and few other fields for various resources.
  gwctl/cmd/describe.go
  gwctl/pkg/policymanager/helpers.go
  gwctl/pkg/policymanager/manager.go
  gwctl/pkg/policymanager/merger.go
  gwctl/pkg/printer/backends.go
  gwctl/pkg/printer/common.go
  gwctl/pkg/printer/common_test.go
  gwctl/pkg/printer/gatewayclasses.go
  gwctl/pkg/printer/gatewayclasses_test.go
  gwctl/pkg/printer/gateways.go
  gwctl/pkg/printer/gateways_test.go
  gwctl/pkg/printer/httproutes.go
  gwctl/pkg/printer/namespace.go
  gwctl/pkg/printer/namespace_test.go
  gwctl/pkg/printer/policies.go
  gwctl/pkg/resourcediscovery/discoverer.go
  gwctl/pkg/resourcediscovery/nodes.go
  gwctl/pkg/resourcediscovery/resourcemodel.go
Labels: kind/feature, approved, release-note, cncf-cla: yes, lgtm, size/XL, area/gwctl

#3068 gwctl: Introduce a `--for` flag to filter results related to a specified resource.
  gwctl/cmd/describe.go
  gwctl/cmd/get.go
  gwctl/cmd/root.go
  gwctl/cmd/subcommand.go
  gwctl/pkg/printer/backends_test.go
  gwctl/pkg/printer/gatewayclasses_test.go
  gwctl/pkg/printer/gateways_test.go
  gwctl/pkg/printer/httproutes_test.go
  gwctl/pkg/printer/namespace_test.go
  gwctl/pkg/printer/policies_test.go
  gwctl/pkg/resourcediscovery/discoverer.go
  gwctl/pkg/resourcediscovery/discoverer_test.go
  gwctl/pkg/utils/types.go
Labels: kind/feature, approved, size/XXL, release-note, cncf-cla: yes, lgtm, area/gwctl

#3113 Fix rendering of list in GEP-713
  geps/gep-713/index.md
Labels: ok-to-test, size/XS, approved, release-note-none, kind/cleanup, kind/documentation, cncf-cla: yes, lgtm, kind/gep

#3105 GEP-1324: Fix image path
  geps/gep-1324/index.md
Labels: ok-to-test, approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm, kind/gep

#3119 tests(conformance): more precise logs
  conformance/utils/kubernetes/helpers.go
Labels: approved, release-note-none, size/M, cncf-cla: yes, lgtm, area/conformance, kind/test
