Repository kubernetes-sigs/gateway-api, pull requests merged in 2024-10, with the labels that each got.

#3373 mark the GatewayInfrastructure test as Provisional
  conformance/tests/gateway-infrastructure.go
Labels: size/XS, approved, release-note-none, cncf-cla: yes, lgtm, area/conformance, kind/test

#3374 Adding changelog for v1.2.0
  CHANGELOG/1.2-CHANGELOG.md
  README.md
  RELEASE.md
  config/crd/experimental/gateway.networking.k8s.io_backendlbpolicies.yaml
  config/crd/experimental/gateway.networking.k8s.io_backendtlspolicies.yaml
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_referencegrants.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_referencegrants.yaml
  conformance/utils/suite/suite_test.go
  pkg/consts/consts.go
Labels: approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, size/XL

#3375 chore: bump PR version for 1.2
  config/crd/experimental/gateway.networking.k8s.io_backendlbpolicies.yaml
  config/crd/experimental/gateway.networking.k8s.io_backendtlspolicies.yaml
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_referencegrants.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_referencegrants.yaml
  pkg/consts/consts.go
Labels: size/XS, approved, release-note-none, cncf-cla: yes, lgtm

#3377 docs: update manifests and upgrade notes
  site-src/guides/index.md
Labels: approved, release-note-none, size/M, kind/documentation, cncf-cla: yes, lgtm

#3372 conformance: Add Cilium report for v1.2.0
  conformance/reports/v1.2.0/cilium-cilium/README.md
  conformance/reports/v1.2.0/cilium-cilium/experimental-1.17-default-report.yaml
Labels: ok-to-test, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, size/L

#3380 docs: fix a typo
  apis/v1/httproute_types.go
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  pkg/generated/openapi/zz_generated.openapi.go
Labels: ok-to-test, size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3120 Drop experimental banner for backend-protocol selection
  site-src/guides/backend-protocol.md
Labels: size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3321 feat: Exclude comments from CRD generation but not from go struct definition
  apis/v1/shared_types.go
  pkg/generator/main.go
Labels: kind/feature, ok-to-test, approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3378 docs: improve documentation about the reports version
  conformance/reports/README.md
Labels: size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, area/conformance

#3132 🌱 docs(footer): Add trademark disclaimer
  mkdocs.yml
  site-src/overrides/partials/copyright.html
Labels: ok-to-test, approved, release-note-none, size/M, kind/documentation, cncf-cla: yes, lgtm, blocked

#3406 Fix conformance reporting script
  hack/mkdocs-generate-conformance.py
Labels: size/XS, approved, release-note-none, kind/cleanup, kind/documentation, cncf-cla: yes, lgtm, area/conformance

#3417 [release-1.1] Backport CI improvements
  Makefile
  hack/test-crds-validation.sh
  hack/verify-all.sh
  pkg/test/cel/backendlbpolicy_test.go
  pkg/test/cel/backendtlspolicy_test.go
  pkg/test/cel/gateway_test.go
  pkg/test/cel/gatewayclass_test.go
  pkg/test/cel/grpcroute_test.go
  pkg/test/cel/httproute_test.go
  pkg/test/cel/main_test.go
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/L

#3412 Make GRPCRoute v1alpha2's status a subresource
  apis/v1alpha2/grpcroute_types.go
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/standard/gateway.networking.k8s.io_grpcroutes.yaml
Labels: kind/bug, size/XS, approved, release-note, cncf-cla: yes, lgtm, kind/regression

#3420 Add v1.2.0 conformance report for Envoy Gateway
  conformance/reports/v1.2.0/envoy-gateway/README.md
  conformance/reports/v1.2.0/envoy-gateway/experimental-v1.2.0-default-report.yaml
Labels: approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, size/L, area/conformance, kind/test

#3399 Add Istio 1.2 conformance report
  conformance/reports/v1.2.0/istio-istio/README.md
  conformance/reports/v1.2.0/istio-istio/experimental-1.24-default-report.yaml
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/L, area/conformance

#3408 conformance: Add Airlock Microgateway report for v1.1.0
  conformance/reports/v1.1.0/airlock-microgateway/README.md
  conformance/reports/v1.1.0/airlock-microgateway/experimental-4.4.0-default-report.yaml
  site-src/implementations.md
Labels: ok-to-test, approved, release-note-none, size/M, kind/documentation, cncf-cla: yes, lgtm, area/conformance

#3423 [release 1.1] Prepare release 1.1.1
  CHANGELOG/1.1-CHANGELOG.md
  README.md
  config/crd/experimental/gateway.networking.k8s.io_backendlbpolicies.yaml
  config/crd/experimental/gateway.networking.k8s.io_backendtlspolicies.yaml
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_referencegrants.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_referencegrants.yaml
  conformance/utils/suite/suite_test.go
  pkg/consts/consts.go
Labels: approved, release-note-none, size/M, cncf-cla: yes, lgtm
