Repository kubernetes-sigs/gateway-api, pull requests merged in 2024-08, with the labels that each got.

#3180 Add GEP-3155: Complete Backend mTLS Configuration
  geps/gep-3155/index.md
  geps/gep-3155/metadata.yaml
  mkdocs.yml
Labels: ok-to-test, approved, release-note-none, cncf-cla: yes, lgtm, size/L, kind/gep

#3234 Update EG v1.1 conformance report
  conformance/reports/v1.1.0/envoy-gateway/experimental-v1.1.0-default-report.yaml
Labels: approved, size/S, release-note-none, cncf-cla: yes, lgtm, area/conformance

#3236 chore: fix typo in gep-713
  geps/gep-713/index.md
Labels: ok-to-test, size/XS, approved, release-note-none, cncf-cla: yes, lgtm, kind/gep

#3238 fix: deduplicate Declined status
  geps/overview.md
Labels: ok-to-test, size/XS, approved, release-note-none, kind/cleanup, kind/documentation, cncf-cla: yes, lgtm, kind/gep

#3199 gep: add GEP-1731 Configurable Retries
  geps/gep-1731/index.md
  geps/gep-1731/metadata.yaml
  mkdocs.yml
Labels: approved, release-note, cncf-cla: yes, lgtm, size/L, kind/gep

#3250 Update NGINX Gateway Fabric description
  site-src/implementations.md
Labels: ok-to-test, size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3253 docs: add Flynn as a GEP reviewer
  OWNERS_ALIASES
Labels: ok-to-test, size/XS, approved, kind/documentation, cncf-cla: yes, lgtm

#3243 Add timeout between conformance test cases
  conformance/utils/config/timeout.go
  conformance/utils/suite/suite.go
Labels: ok-to-test, approved, size/S, release-note-none, cncf-cla: yes, lgtm, area/conformance

#3230 Add GKE Gateway v1.1 conformance report
  conformance/reports/v1.1.0/gke-gateway/README.md
  conformance/reports/v1.1.0/gke-gateway/standard-1.30.3-gxlb-report.yaml
  conformance/reports/v1.1.0/gke-gateway/standard-1.30.3-rilb-report.yaml
  conformance/reports/v1.1.0/gke-gateway/standard-1.30.3-rxlb-report.yaml
  site-src/implementations.md
Labels: ok-to-test, approved, release-note-none, cncf-cla: yes, lgtm, size/L, area/conformance

#3254 docs: promote Lior to conformance approver
  OWNERS_ALIASES
Labels: size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3255 Add Arko as GEP Reviewer
  OWNERS_ALIASES
Labels: size/XS, approved, kind/documentation, cncf-cla: yes, tide/merge-method-rebase, lgtm

#3237 report: Update cilium version
  conformance/reports/v1.1.0/cilium-cilium/README.md
Labels: ok-to-test, size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, area/conformance

#3210 Graduate GEP-2257 and GEP-1742 to standard
  apis/v1/httproute_types.go
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  geps/gep-1742/index.md
  geps/gep-1742/metadata.yaml
  geps/gep-2257/index.md
  geps/gep-2257/metadata.yaml
  mkdocs.yml
  pkg/generated/openapi/zz_generated.openapi.go
Labels: approved, release-note, cncf-cla: yes, lgtm, size/L, kind/gep

#3240 add link for rfc 3986
  site-src/api-types/backendtlspolicy.md
Labels: ok-to-test, size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3179 docs: partial reports can be submitted
  conformance/reports/README.md
Labels: approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm, area/conformance

#3198 Add inherited policies for Gateway and Backends
  gwctl/pkg/printer/backends.go
  gwctl/pkg/printer/backends_test.go
  gwctl/pkg/printer/gateways.go
  gwctl/pkg/printer/gateways_test.go
Labels: kind/feature, approved, release-note, cncf-cla: yes, lgtm, size/L, area/gwctl

#3167 chore: added hack/verify-reports.sh script
  hack/verify-reports.sh
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/L, area/conformance

#3252 Use GRPCHeaderMatchType in GRPCHeaderMatch structure
  apis/applyconfiguration/apis/v1/grpcheadermatch.go
  apis/v1/grpcroute_types.go
  apis/v1/zz_generated.deepcopy.go
Labels: kind/bug, ok-to-test, approved, size/S, release-note-none, cncf-cla: yes, lgtm

#3257 fix: inconsistent default reason for GatewayClass status (#3225)
  apis/v1/gatewayclass_types.go
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/standard/gateway.networking.k8s.io_gatewayclasses.yaml
Labels: kind/bug, ok-to-test, size/XS, approved, release-note, cncf-cla: yes, lgtm

#3242 conformance: Update Conformance report
  conformance/reports/v1.1.0/cilium-cilium/experimental-1.16-default-report.yaml
Labels: ok-to-test, approved, release-note-none, size/M, kind/documentation, cncf-cla: yes, lgtm, area/conformance

#3261 issue-3260: Clarify a few points on Development Documentation.
  site-src/contributing/devguide.md
Labels: ok-to-test, approved, release-note-none, size/M, kind/documentation, cncf-cla: yes, lgtm

#3241 Correct indentation for nested list
  geps/gep-3155/index.md
Labels: ok-to-test, approved, size/S, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, kind/gep

#3264 docs: add issue and PR bumping section to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: approved, size/S, tide/merge-method-squash, kind/documentation, cncf-cla: yes, lgtm

#3274 Update envoy-gw link implementations.md
  site-src/implementations.md
Labels: size/XS, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm

#2985 Implement of GEP-995
  apis/applyconfiguration/apis/v1/grpcrouterule.go
  apis/applyconfiguration/apis/v1/httprouterule.go
  apis/applyconfiguration/apis/v1alpha2/tcprouterule.go
  apis/applyconfiguration/apis/v1alpha2/tlsrouterule.go
  apis/applyconfiguration/apis/v1alpha2/udprouterule.go
  apis/applyconfiguration/internal/internal.go
  apis/v1/grpcroute_types.go
  apis/v1/httproute_types.go
  apis/v1/zz_generated.deepcopy.go
  apis/v1alpha2/tcproute_types.go
  apis/v1alpha2/tlsroute_types.go
  apis/v1alpha2/udproute_types.go
  apis/v1alpha2/zz_generated.deepcopy.go
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/test/cel/httproute_experimental_test.go
  pkg/test/cel/httproute_test.go
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/L, kind/gep

#3110 Expose peer certificates in round tripper response
  conformance/utils/roundtripper/roundtripper.go
Labels: approved, size/S, release-note-none, cncf-cla: yes, lgtm, area/conformance, kind/test

#3289 conformance: Update the Gloo Gateway project's published 1.0.0 reports
  conformance/reports/v1.0.0/gloo-gateway/README.md
  conformance/reports/v1.0.0/gloo-gateway/v1.17.4-report.yaml
  site-src/implementations.md
Labels: ok-to-test, approved, release-note-none, size/M, cncf-cla: yes, lgtm, area/conformance

#3286 Update verify-all.sh: added $t to explicitly tell which script had an issue during a failed test
  hack/verify-all.sh
Labels: ok-to-test, approved, size/S, release-note-none, cncf-cla: yes, lgtm

#3271 GEP2257 Duration parsing
  pkg/utils/duration.go
  pkg/utils/duration_test.go
Labels: kind/feature, approved, release-note-none, cncf-cla: yes, lgtm, size/L

#3296 docs: add candita as conformance reviewer
  OWNERS_ALIASES
Labels: size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3283 Add API for GEP-3171
  apis/applyconfiguration/apis/v1/fraction.go
  apis/applyconfiguration/apis/v1/httprequestmirrorfilter.go
  apis/applyconfiguration/internal/internal.go
  apis/applyconfiguration/utils.go
  apis/v1/grpcroute_types.go
  apis/v1/httproute_types.go
  apis/v1/shared_types.go
  apis/v1/zz_generated.deepcopy.go
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/test/cel/grcproute_experimental_test.go
  pkg/test/cel/httproute_experimental_test.go
Labels: kind/feature, ok-to-test, approved, release-note-none, cncf-cla: yes, lgtm, size/L

#3285 Add conformance profile for NGINX Gateway Fabric
  conformance/reports/v1.1.0/nginxinc-nginx-gateway-fabric/README.md
  conformance/reports/v1.1.0/nginxinc-nginx-gateway-fabric/experimental-1.4.0-default-report.yaml
Labels: ok-to-test, approved, release-note-none, size/M, cncf-cla: yes, lgtm, area/conformance

#3302 Add Additional API Testing for GEP-3171
  apis/applyconfiguration/internal/internal.go
  apis/v1/httproute_types.go
  apis/v1/zz_generated.deepcopy.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/test/cel/grcproute_experimental_test.go
  pkg/test/cel/grpcroute_experimental_test.go
  pkg/test/cel/httproute_experimental_test.go
Labels: kind/feature, ok-to-test, approved, release-note-none, cncf-cla: yes, lgtm, size/L, kind/test

#3303 docs: add guicassolato as gwctl reviewer
  OWNERS_ALIASES
Labels: size/XS, approved, kind/documentation, cncf-cla: yes, lgtm

#3301 apis: add implementation for GEP-1731 HTTPRoute Retries
  apis/applyconfiguration/apis/v1/httprouteretry.go
  apis/applyconfiguration/apis/v1/httprouterule.go
  apis/applyconfiguration/internal/internal.go
  apis/applyconfiguration/utils.go
  apis/v1/httproute_types.go
  apis/v1/zz_generated.deepcopy.go
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  geps/gep-1731/index.md
  geps/gep-1731/metadata.yaml
  mkdocs.yml
  pkg/generated/openapi/zz_generated.openapi.go
Labels: kind/feature, approved, release-note, kind/documentation, cncf-cla: yes, lgtm, size/L, kind/gep

#3304 add api changes according to gep-3155
  apis/applyconfiguration/apis/v1/gatewaybackendtls.go
  apis/applyconfiguration/apis/v1/gatewayspec.go
  apis/applyconfiguration/apis/v1alpha3/backendtlspolicyspec.go
  apis/applyconfiguration/apis/v1alpha3/backendtlspolicyvalidation.go
  apis/applyconfiguration/apis/v1alpha3/subjectaltname.go
  apis/applyconfiguration/internal/internal.go
  apis/applyconfiguration/utils.go
  apis/v1/gateway_types.go
  apis/v1/shared_types.go
  apis/v1/zz_generated.deepcopy.go
  apis/v1alpha3/backendtlspolicy_types.go
  apis/v1alpha3/zz_generated.deepcopy.go
  config/crd/experimental/gateway.networking.k8s.io_backendtlspolicies.yaml
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/test/cel/backendtlspolicy_test.go
Labels: kind/feature, approved, release-note, cncf-cla: yes, lgtm, size/L
