Repository kubernetes-sigs/gateway-api, pull requests merged in 2024-12, with the labels that each got.

#3484 docs: fix project dashboard link
  site-src/contributing/devguide.md
Labels: ok-to-test, size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3482 chore: minor fixes in build-install-yaml.sh
  hack/build-install-yaml.sh
Labels: approved, release-note-none, size/M, kind/cleanup, cncf-cla: yes, lgtm

#3486 Update readme with last version (1.2.1)
  CHANGELOG/1.2-CHANGELOG.md
  README.md
Labels: size/XS, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm

#3485 Update httproute.md to add link for v1.SectionName
  site-src/api-types/httproute.md
Labels: ok-to-test, size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3477 Clarify Gateway Listener Distinct definitions
  apis/v1/gateway_types.go
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  pkg/generated/openapi/zz_generated.openapi.go
Labels: approved, release-note, kind/documentation, cncf-cla: yes, lgtm, size/L

#3502 Update GEP template with up to date conformance tests guidance
  geps/gep-696/index.md
Labels: approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm, kind/gep

#3506 Fix typo in documentation
  site-src/api-types/gatewayclass.md
Labels: ok-to-test, size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3501 Add conformance report for Traefik Proxy
  conformance/reports/v1.2.1/traefik-traefik/README.md
  conformance/reports/v1.2.1/traefik-traefik/experimental-v3.2.2-default-report.yaml
  site-src/implementations.md
Labels: ok-to-test, approved, release-note-none, cncf-cla: yes, lgtm, size/L, area/conformance

#3510 Adds v1.2.0 Conformance Report for Gloo Gateway
  conformance/reports/v1.2.0/gloo-gateway/README.md
  conformance/reports/v1.2.0/gloo-gateway/experimental-v1.18.0-report.yaml
Labels: approved, release-note-none, size/M, kind/documentation, cncf-cla: yes, lgtm, area/conformance

#3507 Azure Application Gateway for Containers Conformance report v1.1.0
  conformance/reports/v1.1.0/azure-application-gateway-for-containers/README.md
  conformance/reports/v1.1.0/azure-application-gateway-for-containers/standard-v1.1.0-default-report.yaml
  site-src/implementations.md
Labels: approved, release-note-none, size/M, cncf-cla: yes, lgtm

#3513 chore: conformance report for Kong Ingress Controller `v3.4.0`
  conformance/reports/v1.2.1/kong-kubernetes-ingress-controller/README.md
  conformance/reports/v1.2.1/kong-kubernetes-ingress-controller/experimental-v3.4.0-expressions-report.yaml
  conformance/reports/v1.2.1/kong-kubernetes-ingress-controller/experimental-v3.4.0-traditional_compatible-report.yaml
  site-src/implementations.md
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/L, area/conformance

#3518 chore: bump Kind and test k8s 1.28->1.32
  hack/test-crds-validation.sh
  pkg/test/cel/main_test.go
Labels: approved, size/S, release-note-none, cncf-cla: yes, lgtm, kind/test
