Repository kubernetes-sigs/gateway-api, pull requests merged in 2024-06, with the labels that each got.

#3108 promote HTTPRoute backend protocol from experimental to extended
  pkg/features/features.go
Labels: approved, size/S, release-note, cncf-cla: yes, lgtm, kind/gep, area/conformance

#3127 Fix v1beta1 HTTPHeaderName alias
  apis/v1beta1/httproute_types.go
Labels: kind/bug, size/XS, approved, release-note-none, cncf-cla: yes, lgtm

#3135 Add missing apiVersion in the referencegrant API docs
  site-src/api-types/referencegrant.md
Labels: ok-to-test, size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3136 Outputs ns for gateways in gwctl
  gwctl/pkg/printer/gateways.go
  gwctl/pkg/printer/gateways_test.go
Labels: ok-to-test, approved, size/S, release-note-none, cncf-cla: yes, lgtm, area/gwctl

#3129 Support wide output format for get commands (-o wide)
  gwctl/cmd/subcommand.go
  gwctl/pkg/printer/backends.go
  gwctl/pkg/printer/backends_test.go
  gwctl/pkg/printer/gatewayclasses.go
  gwctl/pkg/printer/gatewayclasses_test.go
  gwctl/pkg/printer/gateways.go
  gwctl/pkg/printer/gateways_test.go
  gwctl/pkg/printer/httproutes.go
  gwctl/pkg/printer/httproutes_test.go
  gwctl/pkg/printer/namespace.go
  gwctl/pkg/printer/namespace_test.go
  gwctl/pkg/printer/policies.go
  gwctl/pkg/printer/printer.go
  gwctl/pkg/utils/types.go
Labels: ok-to-test, approved, release-note, cncf-cla: yes, lgtm, size/L, area/gwctl

#3148 chore: istio report renamed according to rules
  conformance/reports/v1.1.0/istio-istio/README.md
  conformance/reports/v1.1.0/istio-istio/experimental-1.22-default-report.yaml
Labels: size/XS, approved, release-note-none, cncf-cla: yes, lgtm, area/conformance

#3126 Fix the missing example in HTTP rewrite
  examples/standard/http-redirect-rewrite/httproute-rewrite-full-path.yaml
  examples/standard/http-redirect-rewrite/httproute-rewrite-prefix-path.yaml
  site-src/guides/http-redirect-rewrite.md
Labels: ok-to-test, approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3147 Adding release-note-none label to dependabot PRs
  .github/dependabot.yml
Labels: size/XS, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm

#3145 gwctl performance improvements
  gwctl/cmd/subcommand.go
  gwctl/pkg/printer/backends.go
  gwctl/pkg/printer/common.go
  gwctl/pkg/printer/gatewayclasses.go
  gwctl/pkg/printer/gatewayclasses_test.go
  gwctl/pkg/printer/gateways.go
  gwctl/pkg/printer/gateways_test.go
  gwctl/pkg/printer/namespace.go
  gwctl/pkg/printer/namespace_test.go
  gwctl/pkg/resourcediscovery/discoverer.go
  gwctl/pkg/resourcediscovery/nodes.go
Labels: kind/feature, approved, release-note-none, cncf-cla: yes, lgtm, size/L, area/gwctl

#3154 Contour 1.29.1, 1.28.5, 1.27.4 patch release reports
  conformance/reports/v0.8.1/projectcontour-contour/README.md
  conformance/reports/v0.8.1/projectcontour-contour/experimental-v1.27.4-default-report.yaml
  conformance/reports/v1.0.0/projectcontour-contour/README.md
  conformance/reports/v1.0.0/projectcontour-contour/experimental-v1.28.5-default-report.yaml
  conformance/reports/v1.0.0/projectcontour-contour/experimental-v1.29.1-default-report.yaml
  site-src/implementations.md
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/L, area/conformance

#3152 chore: add conformance report for KIC 3.2.0
  conformance/reports/v1.1.0/kong-kubernetes-ingress-controller/README.md
  conformance/reports/v1.1.0/kong-kubernetes-ingress-controller/experimental-v3.2.0-expressions-report.yaml
Labels: ok-to-test, approved, release-note-none, size/M, kind/documentation, cncf-cla: yes, lgtm, area/conformance

#3130 Return the behaviour of a new default GRPC client instantiation for every request
  conformance/utils/grpc/grpc.go
  conformance/utils/suite/suite.go
Labels: kind/bug, ok-to-test, size/XS, approved, release-note-none, cncf-cla: yes, lgtm, area/conformance

#3153 fix: change report API version
  conformance/apis/v1/groupversion.go
  conformance/utils/suite/suite.go
Labels: kind/bug, approved, release-note, size/M, cncf-cla: yes, lgtm, area/conformance

#3163 chore(docs): GRPC and HTTP docs versions cleanup
  examples/standard/basic-grpc.yaml
  examples/standard/grpc-filter.yaml
  site-src/api-types/grpcroute.md
  site-src/api-types/httproute.md
Labels: approved, release-note-none, size/M, kind/cleanup, kind/documentation, cncf-cla: yes, lgtm

#3137 conformance: Add Cilium report for v1.1.0
  conformance/reports/v1.1.0/cilium-cilium/README.md
  conformance/reports/v1.1.0/cilium-cilium/experimental-1.16-default-report.yaml
Labels: ok-to-test, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, size/L

#3168 chore: fix cilium conformance report
  conformance/reports/v1.1.0/cilium-cilium/README.md
  conformance/reports/v1.1.0/cilium-cilium/experimental-1.16-default-report.yaml
Labels: size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3088 Conformance Reporting to reflect v1.1.0 release
  RELEASE.md
  hack/mkdocs-generate-conformance.py
  mkdocs.yml
  site-src/implementation-table.md
  site-src/implementations.md
  site-src/implementations/v1.0.md
  site-src/implementations/v1.1.md
Labels: ok-to-test, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, size/L, area/conformance

#2263 Document the route kinds compatible for each protocolType
  apis/v1/gateway_types.go
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  pkg/generated/openapi/zz_generated.openapi.go
  site-src/concepts/api-overview.md
Labels: ok-to-test, approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm
