Repository kubernetes-sigs/gateway-api, pull requests merged in 2024-02, with the labels that each got.

#2736 Update experimental channel kustomization with backendtlspolicy
  config/crd/experimental/kustomization.yaml
Labels: kind/bug, ok-to-test, size/XS, approved, release-note-none, cncf-cla: yes, lgtm

#2754 add github workflow to check supportedFeatures freshness
  .github/workflows/supported_features.yml
  apis/v1/gatewayclass_types.go
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  hack/supportedfeatures/update_supported_features.sh
Labels: approved, release-note-none, size/M, cncf-cla: yes, lgtm

#2758 remove GWC status kubebuilder validation for supportedFeatures
  .github/workflows/supported_features.yml
  apis/v1/gatewayclass_types.go
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  hack/supportedfeatures/update_supported_features.sh
Labels: approved, release-note-none, size/M, kind/cleanup, cncf-cla: yes, lgtm

#2742 Add graduation criteria for Conformance Profiles GEP (1709)
  geps/gep-1709/index.md
Labels: approved, size/S, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, kind/gep

#2708 gwctl: Decouple data model from printing for flexibility and clarity
  gwctl/CODE_ORGANIZATION.md
  gwctl/pkg/cmd/describe/describe.go
  gwctl/pkg/cmd/get/get.go
  gwctl/pkg/cmd/utils/printer/backends.go
  gwctl/pkg/cmd/utils/printer/httproutes.go
  gwctl/pkg/common/resourcehelpers/backends.go
  gwctl/pkg/common/resourcehelpers/gatewayclasses.go
  gwctl/pkg/common/resourcehelpers/gateways.go
  gwctl/pkg/common/resourcehelpers/httproutes.go
  gwctl/pkg/effectivepolicy/backends.go
  gwctl/pkg/effectivepolicy/effectivepolicy.go
  gwctl/pkg/effectivepolicy/gatewayclasses.go
  gwctl/pkg/effectivepolicy/gateways.go
  gwctl/pkg/effectivepolicy/httproutes.go
  gwctl/pkg/effectivepolicy/namespaces.go
  gwctl/pkg/policymanager/manager.go
  gwctl/pkg/printer/backends.go
  gwctl/pkg/printer/gatewayclasses.go
  gwctl/pkg/printer/gatewayclasses_test.go
  gwctl/pkg/printer/gateways.go
  gwctl/pkg/printer/gateways_test.go
  gwctl/pkg/printer/httproutes.go
  gwctl/pkg/printer/httproutes_test.go
  gwctl/pkg/printer/main_test.go
  gwctl/pkg/printer/policies.go
  gwctl/pkg/printer/policies_test.go
  gwctl/pkg/relations/relations.go
  gwctl/pkg/resourcediscovery/discoverer.go
  gwctl/pkg/resourcediscovery/doc.go
  gwctl/pkg/resourcediscovery/nodes.go
  gwctl/pkg/resourcediscovery/resourcemodel.go
Labels: approved, size/XXL, release-note-none, kind/cleanup, cncf-cla: yes, lgtm

#2746 List Cilium's extended supported features
  conformance/reports/v1.0.0/cilium.yaml
Labels: ok-to-test, approved, size/S, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, kind/gep

#2770 Bump the k8s.io group with 5 updates
  conformance/echo-basic/go.sum
  go.mod
  go.sum
  gwctl/go.mod
  gwctl/go.sum
Labels: kind/bug, ok-to-test, approved, release-note-none, size/M, cncf-cla: yes, lgtm

#2767 Adding gwctl OWNERS, making Gaurav first approver
  OWNERS_ALIASES
  gwctl/OWNERS
Labels: approved, size/S, release-note-none, kind/cleanup, cncf-cla: yes, lgtm

#2768 Move Bowei to emeritus maintainer
  OWNERS_ALIASES
Labels: size/XS, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm

#2772 Add route port attachment doc
  site-src/api-types/httproute.md
  site-src/guides/tcp.md
Labels: approved, release-note-none, size/M, kind/documentation, cncf-cla: yes, lgtm

#2773 conformance: update Kuma's conformance report and badge for v1.0.0
  conformance/reports/v1.0.0/kumahq-kuma.yaml
  site-src/implementations.md
Labels: approved, release-note-none, size/M, kind/documentation, cncf-cla: yes, lgtm, area/conformance

#2766 Add contour conformance report for v1.0.0
  conformance/reports/v1.0.0/projectcontour-contour.yaml
  site-src/implementations.md
Labels: approved, release-note-none, size/M, cncf-cla: yes, lgtm, area/conformance

#2776 Fix broken doc links
  geps/gep-1426/index.md
  site-src/api-types/backendtlspolicy.md
  site-src/api-types/gatewayclass.md
  site-src/api-types/grpcroute.md
  site-src/api-types/httproute.md
  site-src/guides/grpc-routing.md
  site-src/guides/http-redirect-rewrite.md
  site-src/guides/http-routing.md
  site-src/guides/migrating-from-ingress.md
  site-src/guides/multiple-ns.md
  site-src/guides/traffic-splitting.md
Labels: approved, release-note-none, size/M, kind/documentation, cncf-cla: yes, lgtm, kind/gep

#2786 Enable dependabot for `/gwctl` and `/conformance/echo-basic/`
  .github/dependabot.yml
Labels: kind/bug, approved, size/S, release-note-none, cncf-cla: yes, lgtm

#2797 Remove hidden dependency for client-go/plugin/pkg/client/auth
  conformance/utils/kubernetes/certificate.go
Labels: ok-to-test, size/XS, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, area/conformance

#2793 Adds HAProxy Kubernetes Ingress Controller to Gateway API Implementat…
  site-src/implementations.md
Labels: ok-to-test, size/XS, approved, release-note, kind/documentation, cncf-cla: yes, lgtm

#2799 feat: conformance report summary field
  conformance/apis/v1alpha1/profilereport.go
  conformance/experimental_conformance_test.go
  conformance/utils/suite/experimental_reports.go
  conformance/utils/suite/experimental_reports_test.go
Labels: kind/feature, approved, release-note, cncf-cla: yes, lgtm, size/L, area/conformance

#2741 Move BackendTLSPolicy WellKnownCACerts field to implementation-specific
  apis/v1alpha2/backendtlspolicy_types.go
  config/crd/experimental/gateway.networking.k8s.io_backendtlspolicies.yaml
Labels: approved, size/S, release-note, kind/cleanup, kind/documentation, cncf-cla: yes, lgtm

#2782 Implement `gwctl get gateways`
  gwctl/pkg/cmd/get/get.go
  gwctl/pkg/printer/gateways.go
  gwctl/pkg/printer/gateways_test.go
Labels: kind/feature, approved, release-note, cncf-cla: yes, lgtm, size/L, area/gwctl

#2801 feat: mode introduced to conformance report API
  conformance/apis/v1alpha1/conformancereport.go
  conformance/experimental_conformance_test.go
  conformance/utils/flags/experimental_flags.go
  conformance/utils/suite/experimental_suite.go
Labels: kind/feature, approved, size/S, release-note, cncf-cla: yes, lgtm, area/conformance

#2800 feat: CRD version and channel added to conformance reports
  conformance/apis/v1alpha1/conformancereport.go
  conformance/experimental_conformance_test.go
  conformance/utils/flags/experimental_flags.go
  conformance/utils/suite/experimental_suite.go
  conformance/utils/suite/experimental_suite_test.go
  pkg/consts/consts.go
  pkg/generator/main.go
Labels: kind/feature, approved, release-note, cncf-cla: yes, lgtm, size/L, area/conformance

#2806 Use fmt.Sprintf instead of strconv.Itoa
  gwctl/pkg/printer/gateways.go
Labels: size/XS, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, area/gwctl

#2816 fix yaml linter warning in backend-protocol test yaml
  conformance/tests/httproute-backend-protocol-h2c.yaml
Labels: approved, size/S, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, area/conformance, kind/test

#2818 GEP-696: Fix broken link in template GEP
  geps/gep-696/index.md
Labels: size/XS, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, kind/gep

#2442 clarify attachment by two policies to the same object when one uses a sectionName
  geps/gep-713/index.md
Labels: ok-to-test, size/XS, approved, release-note, kind/documentation, cncf-cla: yes, lgtm, kind/gep

#2798 Conformance Reports structure improved
  conformance/reports/STRUCTURE.md
  conformance/reports/v0.7.1/cilium/README.md
  conformance/reports/v0.7.1/cilium/v1.14.0-report.yaml
  conformance/reports/v0.7.1/istio-istio/README.md
  conformance/reports/v0.7.1/istio-istio/pull-46148-report.yaml
  conformance/reports/v0.7.1/kong-kubernetes-ingress-controller/2.10.3-report.yaml
  conformance/reports/v0.7.1/kong-kubernetes-ingress-controller/README.md
  conformance/reports/v0.7.1/kumahq-kuma/0.0.0-preview.vcf063c043-report.yaml
  conformance/reports/v0.7.1/kumahq-kuma/README.md
  conformance/reports/v0.7.1/nginxinc-nginx-gateway-fabric/README.md
  conformance/reports/v0.7.1/nginxinc-nginx-gateway-fabric/v0.5.0-report.yaml
  conformance/reports/v0.7.1/projectcontour-contour/README.md
  conformance/reports/v0.7.1/projectcontour-contour/f6c112e60a40ceb9d448354473a8fe7d1a726790-report.yaml
  conformance/reports/v0.8.0/envoy-gateway/README.md
  conformance/reports/v0.8.0/envoy-gateway/latest-report.yaml
  conformance/reports/v0.8.0/kumahq-kuma/2.4.1-report.yaml
  conformance/reports/v0.8.0/kumahq-kuma/README.md
  conformance/reports/v0.8.0/nginxinc-nginx-gateway-fabric/README.md
  conformance/reports/v0.8.0/nginxinc-nginx-gateway-fabric/v0.6.0-report.yaml
  conformance/reports/v0.8.0/projectcontour-contour/README.md
  conformance/reports/v0.8.0/projectcontour-contour/v1.26.0-report.yaml
  conformance/reports/v0.8.1/cilium/README.md
  conformance/reports/v0.8.1/cilium/v1.15.0-pre.1-report.yaml
  conformance/reports/v0.8.1/kong-kubernetes-ingress-controller/README.md
  conformance/reports/v0.8.1/kong-kubernetes-ingress-controller/v2.12.0-report.yaml
  conformance/reports/v0.8.1/nginxinc-nginx-gateway-fabric/README.md
  conformance/reports/v0.8.1/nginxinc-nginx-gateway-fabric/v1.0.0-report.yaml
  conformance/reports/v0.8.1/projectcontour-contour/README.md
  conformance/reports/v0.8.1/projectcontour-contour/v1.27.0-report.yaml
  conformance/reports/v1.0.0/cilium/README.md
  conformance/reports/v1.0.0/cilium/v1.15.0-pre.3-report.yaml
  conformance/reports/v1.0.0/envoy-gateway/README.md
  conformance/reports/v1.0.0/envoy-gateway/v0.6.0-report.yaml
  conformance/reports/v1.0.0/gloo-gateway/README.md
  conformance/reports/v1.0.0/gloo-gateway/v2.0.0-beta1-report.yaml
  conformance/reports/v1.0.0/istio-istio/1.20-report.yaml
  conformance/reports/v1.0.0/istio-istio/README.md
  conformance/reports/v1.0.0/kong-kubernetes-ingress-controller/README.md
  conformance/reports/v1.0.0/kong-kubernetes-ingress-controller/v3.0.2-report.yaml
  conformance/reports/v1.0.0/kumahq-kuma/2.6.0-report.yaml
  conformance/reports/v1.0.0/kumahq-kuma/README.md
  conformance/reports/v1.0.0/nginxinc-nginx-gateway-fabric/README.md
  conformance/reports/v1.0.0/nginxinc-nginx-gateway-fabric/v1.1.0-report.yaml
  conformance/reports/v1.0.0/projectcontour-contour/README.md
  conformance/reports/v1.0.0/projectcontour-contour/v1.28.1-report.yaml
Labels: ok-to-test, approved, release-note, kind/documentation, cncf-cla: yes, lgtm, size/L, area/conformance

#2827 docs: mark reporting structure grad criteria as complete for GEP 1709
  geps/gep-1709/index.md
Labels: size/XS, approved, release-note-none, cncf-cla: yes, lgtm, kind/gep

#2829 bump golangci-lint to latest version
  .golangci.yml
  conformance/tests/gateway-modify-listeners.go
  conformance/tests/httproute-backend-protocol-websocket.go
  conformance/utils/kubernetes/certificate.go
  conformance/utils/roundtripper/roundtripper.go
  hack/verify-golint.sh
  pkg/test/cel/httproute_test.go
Labels: approved, size/S, release-note-none, kind/cleanup, cncf-cla: yes, lgtm

#2723 Add GEP-2722 covering the goals, motivations and UX of gwctl.
  geps/gep-2722/index.md
  geps/gep-2722/metadata.yaml
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/XL, kind/gep
