Repository kubernetes-sigs/gateway-api, pull requests merged in 2025-08, with the labels that each got.

#3975 Fix Gateway API community meeting schedule documentation
  site-src/contributing/index.md
Labels: ok-to-test, size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3750 ListenerSet adjust PortNumber kubebuilder validations
  apis/v1/gateway_types.go
  apis/v1/httproute_types.go
  apis/v1/object_reference_types.go
  apis/v1/shared_types.go
  apis/v1alpha2/shared_types.go
  apis/v1beta1/shared_types.go
  apisx/v1alpha1/xlistenerset_types.go
  applyconfiguration/internal/internal.go
  config/crd/experimental/gateway.networking.x-k8s.io_xlistenersets.yaml
  geps/gep-1713/index.md
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/generator/main.go
  pkg/generator/markers.go
Labels: approved, release-note, cncf-cla: yes, lgtm, size/L, kind/gep

#3964 Fix OpenAPI validations by adding API list markers
  .golangci-kal.yml
  apis/v1/gateway_types.go
  apis/v1/grpcroute_types.go
  apis/v1/httproute_types.go
  apis/v1/shared_types.go
  apis/v1alpha2/policy_types.go
  apis/v1alpha2/tcproute_types.go
  apis/v1alpha2/tlsroute_types.go
  apis/v1alpha2/udproute_types.go
  apis/v1alpha3/backendtlspolicy_types.go
  apis/v1alpha3/tlsroute_types.go
  apis/v1beta1/referencegrant_types.go
  apisx/v1alpha1/xlistenerset_types.go
  config/crd/experimental/gateway.networking.k8s.io_backendtlspolicies.yaml
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_referencegrants.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/experimental/gateway.networking.x-k8s.io_xbackendtrafficpolicies.yaml
  config/crd/experimental/gateway.networking.x-k8s.io_xlistenersets.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_referencegrants.yaml
  pkg/generated/openapi/zz_generated.openapi.go
Labels: approved, release-note, size/M, kind/cleanup, cncf-cla: yes, lgtm

#3930 Add Conformance test for Invalid BackendTLSPolicy TLS settings
  conformance/tests/backendtlspolicy.go
  conformance/tests/backendtlspolicy.yaml
  conformance/utils/http/http.go
  conformance/utils/kubernetes/helpers.go
  conformance/utils/suite/suite.go
  pkg/features/backendtlspolicy.go
Labels: ok-to-test, approved, release-note-none, cncf-cla: yes, lgtm, size/L, kind/test

#3976 fix typo
  site-src/implementations.md
Labels: ok-to-test, size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3955 Add gateway class label to generated objects
  geps/gep-1762/index.md
Labels: size/XS, approved, release-note, cncf-cla: yes, lgtm, kind/gep, kind/test

#3880 Improve distribution tests in conformance for HTTPRouteWeight
  conformance/tests/httproute-weight.go
  conformance/tests/mesh/httproute-weight.go
  conformance/utils/http/http.go
Labels: ok-to-test, approved, release-note, cncf-cla: yes, lgtm, size/L, area/conformance-test

#3991 fix(docs): remove unnecessary array in incorrect example @ gep-1767
  geps/gep-1767/index.md
Labels: size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, kind/gep

#3898 Updated index.md to reflect changes in GEP-2162
  geps/gep-2162/index.md
Labels: ok-to-test, approved, release-note-none, size/M, kind/documentation, cncf-cla: yes, lgtm, kind/gep

#4018 docs: update cilium implementation docs for gateway-api v1.3.0 conformance
  site-src/implementations.md
Labels: size/XS, approved, needs-ok-to-test, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3689 conformance: add test for optional address value
  conformance/tests/gateway-optional-address-value.go
  conformance/tests/gateway-optional-address-value.yaml
  conformance/utils/kubernetes/helpers.go
Labels: ok-to-test, approved, release-note-none, size/M, cncf-cla: yes, lgtm, area/conformance-test, kind/test, v1.4-release/subtask

#4010 BackendTLSPolicy conformance tests for ResolvedRefs status condition
  conformance/tests/backendtlspolicy-invalid-ca-certificate-ref.go
  conformance/tests/backendtlspolicy-invalid-ca-certificate-ref.yaml
  conformance/tests/backendtlspolicy-invalid-kind.go
  conformance/tests/backendtlspolicy-invalid-kind.yaml
  conformance/tests/backendtlspolicy.go
  conformance/utils/echo/pod.go
  conformance/utils/http/http.go
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/L, area/conformance-test, kind/test

#3990 conformance: add test to check for proper cors allow-credentials behvior
  conformance/tests/cors-allow-credentials-behavior.go
  conformance/tests/cors-allow-credentials-behavior.yaml
  pkg/features/httproute.go
Labels: ok-to-test, approved, tide/merge-method-squash, release-note-none, cncf-cla: yes, lgtm, size/L, area/conformance-test, kind/test

#4009 Move BackendTLS configuration to GatewayTLSConfig
  apis/v1/gateway_types.go
  apis/v1/zz_generated.deepcopy.go
  applyconfiguration/apis/v1/frontendtlsconfig.go
  applyconfiguration/apis/v1/gatewayspec.go
  applyconfiguration/apis/v1/gatewaytlsconfig.go
  applyconfiguration/apis/v1/tlsconfig.go
  applyconfiguration/internal/internal.go
  applyconfiguration/utils.go
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  examples/experimental/backend-tls.yaml
  examples/experimental/frontend-cert-validation.yaml
  geps/gep-3155/index.md
  pkg/generated/openapi/zz_generated.openapi.go
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/L, kind/gep

#4035 conformance: Add Airlock Microgateway 4.7 reports for v1.3.0
  conformance/reports/v1.1.0/airlock-microgateway/README.md
  conformance/reports/v1.1.0/airlock-microgateway/standard-4.7.0-default-report.yaml
  conformance/reports/v1.1.1/airlock-microgateway/README.md
  conformance/reports/v1.1.1/airlock-microgateway/standard-4.7.0-default-report.yaml
  conformance/reports/v1.2.0/airlock-microgateway/README.md
  conformance/reports/v1.2.0/airlock-microgateway/standard-4.7.0-default-report.yaml
  conformance/reports/v1.2.1/airlock-microgateway/README.md
  conformance/reports/v1.2.1/airlock-microgateway/standard-4.7.0-default-report.yaml
  conformance/reports/v1.3.0/airlock-microgateway/README.md
  conformance/reports/v1.3.0/airlock-microgateway/experimental-4.7.0-default-report.yaml
  site-src/implementations.md
  site-src/implementations/v1.1.md
  site-src/implementations/v1.2.md
  site-src/implementations/v1.3.md
Labels: ok-to-test, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, size/L, area/conformance-test

#4032 Fix cors cel
  apis/v1/httproute_types.go
  apis/v1/shared_types.go
  apis/v1/zz_generated.deepcopy.go
  applyconfiguration/apis/v1/httpcorsfilter.go
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  pkg/test/cel/httproute_experimental_test.go
Labels: kind/bug, approved, release-note, cncf-cla: yes, lgtm, size/L, kind/test

#4016 simplify BackendTLSPolicy test infrastructure and remove unnecessary code
  conformance/base/manifests.yaml
  conformance/tests/backendtlspolicy-san.go
  conformance/tests/backendtlspolicy-san.yaml
  conformance/tests/backendtlspolicy.go
  conformance/tests/backendtlspolicy.yaml
  conformance/utils/kubernetes/certificate.go
  conformance/utils/kubernetes/certificate_test.go
  conformance/utils/suite/suite.go
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/XL, kind/test, area/conformance-machinery

#4044 Upgrade dependencies to K8s 1.34
  .github/workflows/crd-validation.yml
  applyconfiguration/apis/v1/gateway.go
  applyconfiguration/apis/v1/gatewayclass.go
  applyconfiguration/apis/v1/grpcroute.go
  applyconfiguration/apis/v1/httproute.go
  applyconfiguration/apis/v1alpha2/grpcroute.go
  applyconfiguration/apis/v1alpha2/referencegrant.go
  applyconfiguration/apis/v1alpha2/tcproute.go
  applyconfiguration/apis/v1alpha2/tlsroute.go
  applyconfiguration/apis/v1alpha2/udproute.go
  applyconfiguration/apis/v1alpha3/backendtlspolicy.go
  applyconfiguration/apis/v1alpha3/tlsroute.go
  applyconfiguration/apis/v1beta1/gateway.go
  applyconfiguration/apis/v1beta1/gatewayclass.go
  applyconfiguration/apis/v1beta1/httproute.go
  applyconfiguration/apis/v1beta1/referencegrant.go
  applyconfiguration/apisx/v1alpha1/xbackendtrafficpolicy.go
  applyconfiguration/apisx/v1alpha1/xlistenerset.go
  applyconfiguration/internal/internal.go
  applyconfiguration/utils.go
  config/crd/experimental/gateway.networking.k8s.io_backendtlspolicies.yaml
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_referencegrants.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/experimental/gateway.networking.x-k8s.io_xbackendtrafficpolicies.yaml
  config/crd/experimental/gateway.networking.x-k8s.io_xlistenersets.yaml
  config/crd/standard/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_referencegrants.yaml
  go.mod
  go.sum
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/generated/openapi/zz_generated.openapi.go
Labels: approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, size/L

#4046 add GRPCRouteExtendedFeatures to AllFeatures list
  pkg/features/features.go
Labels: size/XS, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, area/conformance-machinery

#4047 add BackendTLSPolicyExtendedFeatures to AllFeatures list
  pkg/features/features.go
Labels: size/XS, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm
