Repository kubernetes-sigs/gateway-api, pull requests merged in 2025-07, with the labels that each got.

#3715 feat(conformance): validate implementation flags
  conformance/conformance.go
  conformance/utils/suite/suite.go
  conformance/utils/suite/suite_test.go
  pkg/test/cel/grpcroute_test.go
Labels: approved, release-note, cncf-cla: yes, lgtm, size/L, area/conformance-machinery

#3826 Move HTTPRouteRule and GRPCRouteRule 'name' fields to Standard
  apis/v1/grpcroute_types.go
  apis/v1/httproute_types.go
  config/crd/standard/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  conformance/tests/grpcroute-named-rule.go
  conformance/tests/grpcroute-named-rule.yaml
  conformance/tests/httproute-named-rule.go
  conformance/tests/httproute-named-rule.yaml
  conformance/tests/mesh/httproute-named-rule.go
  conformance/tests/mesh/httproute-named-rule.yaml
  geps/gep-995/index.md
  geps/gep-995/metadata.yaml
  mkdocs.yml
  pkg/features/grpcroute.go
  pkg/features/httproute.go
  pkg/features/mesh.go
  pkg/generated/openapi/zz_generated.openapi.go
Labels: approved, release-note, cncf-cla: yes, lgtm, size/L, kind/gep, area/conformance-test

#3901 gep: update the possible states in GEP-696
  geps/gep-696/index.md
  geps/gep-696/metadata.yaml
Labels: size/XS, approved, release-note-none, cncf-cla: yes, lgtm, kind/gep

#3907 Update NGINX Gateway Fabric conformance
  conformance/reports/v1.3.0/nginx-nginx-gateway-fabric/experimental-2.0.0-default-report.yaml
Labels: ok-to-test, size/XS, approved, release-note-none, cncf-cla: yes, lgtm

#3920 Revert "feat(conformance): validate implementation flags (#3715)"
  conformance/conformance.go
  conformance/utils/suite/suite.go
  conformance/utils/suite/suite_test.go
  pkg/test/cel/grpcroute_test.go
Labels: kind/bug, approved, release-note-none, cncf-cla: yes, lgtm, size/L

#3917 Enable Kubernetes API Linter
  .custom-gcl.yml
  .github/workflows/kal.yml
  .golangci-kal.yml
  apis/v1/httproute_types.go
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
Labels: approved, release-note-none, size/M, cncf-cla: yes, lgtm, kind/test

#3925 TLSRoute: Hostnames godoc
  apis/v1alpha3/tlsroute_types.go
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  pkg/generated/openapi/zz_generated.openapi.go
Labels: ok-to-test, approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3885 [GEP-2162] Updated a new field on supported features inference from boolean to enum and remove from report.
  conformance/apis/v1/conformancereport.go
  conformance/utils/suite/suite.go
  conformance/utils/suite/suite_test.go
Labels: kind/feature, ok-to-test, approved, release-note-none, cncf-cla: yes, lgtm, size/L, kind/gep, area/conformance-machinery

#3884 Update Auth GEP with Implementable details
  geps/gep-1494/index.md
  geps/gep-1494/metadata.yaml
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/L, kind/gep

#3947 docs: move GEP-3798 to Deferred for now
  geps/gep-3798/index.md
  geps/gep-3798/metadata.yaml
Labels: approved, size/S, kind/cleanup, cncf-cla: yes, lgtm, kind/gep

#3948 Use envtest for CRD validation tests
  .github/workflows/crd-validation.yml
  Makefile
  go.mod
  go.sum
  hack/test-crds-validation.sh
  pkg/test/cel/main_test.go
  pkg/test/crd/crd_test.go
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/L, kind/test

#3887 API for Default Gateways
  geps/gep-3793/index.md
  geps/gep-3793/metadata.yaml
  mkdocs.yml
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/XL, kind/gep

#3950 Mesh resource definition
  geps/gep-3792/index.md
  geps/gep-3949/index.md
  geps/gep-3949/metadata.yaml
  mkdocs.yml
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/XL, kind/gep

#3929 Lint required optional
  .github/workflows/kal.yml
  .golangci-kal.yml
  apis/v1/gateway_types.go
  apis/v1/gatewayclass_types.go
  apis/v1/gatewayclass_types_overrides.go
  apis/v1/grpcroute_types.go
  apis/v1/httproute_types.go
  apis/v1/object_reference_types.go
  apis/v1/shared_types.go
  apis/v1alpha2/policy_types.go
  apis/v1alpha2/tcproute_types.go
  apis/v1alpha2/tlsroute_types.go
  apis/v1alpha2/udproute_types.go
  apis/v1alpha3/backendtlspolicy_types.go
  apis/v1alpha3/tlsroute_types.go
  apis/v1beta1/referencegrant_types.go
  apisx/v1alpha1/shared_types.go
  apisx/v1alpha1/xbackendtrafficpolicy_types.go
  apisx/v1alpha1/xlistenerset_types.go
  config/crd/experimental/gateway.networking.k8s.io_backendtlspolicies.yaml
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/experimental/gateway.networking.x-k8s.io_xbackendtrafficpolicies.yaml
  config/crd/experimental/gateway.networking.x-k8s.io_xlistenersets.yaml
  config/crd/standard/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  pkg/generated/openapi/zz_generated.openapi.go
Labels: approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, size/L, kind/test
