Repository kubernetes-sigs/gateway-api, pull requests merged in 2025-09, with the labels that each got.

#4048 describe TargetRefs conflict-resolution rules in BackendTLSPolicy
  apis/v1alpha3/backendtlspolicy_types.go
  config/crd/experimental/gateway.networking.k8s.io_backendtlspolicies.yaml
  pkg/generated/openapi/zz_generated.openapi.go
Labels: approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#4039 Specify SAN validation precedence over Hostname validation
  apis/v1alpha3/backendtlspolicy_types.go
  config/crd/experimental/gateway.networking.k8s.io_backendtlspolicies.yaml
  geps/gep-3155/index.md
  pkg/generated/openapi/zz_generated.openapi.go
Labels: approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm, kind/gep

#4054 prevent controller-runtime stack traces logger
  conformance/conformance.go
  go.mod
Labels: kind/bug, size/XS, approved, release-note-none, cncf-cla: yes, lgtm, kind/test

#4030 Define the XMesh API
  apisx/v1alpha1/xmesh_types.go
  apisx/v1alpha1/zz_generated.deepcopy.go
  apisx/v1alpha1/zz_generated.register.go
  applyconfiguration/apisx/v1alpha1/meshspec.go
  applyconfiguration/apisx/v1alpha1/meshstatus.go
  applyconfiguration/apisx/v1alpha1/xmesh.go
  applyconfiguration/internal/internal.go
  applyconfiguration/utils.go
  config/crd/experimental/gateway.networking.x-k8s.io_xmeshes.yaml
  geps/gep-3949/index.md
  hack/update-protos.sh
  pkg/client/clientset/versioned/typed/apisx/v1alpha1/apisx_client.go
  pkg/client/clientset/versioned/typed/apisx/v1alpha1/fake/fake_apisx_client.go
  pkg/client/clientset/versioned/typed/apisx/v1alpha1/fake/fake_xmesh.go
  pkg/client/clientset/versioned/typed/apisx/v1alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/apisx/v1alpha1/xmesh.go
  pkg/client/informers/externalversions/apisx/v1alpha1/interface.go
  pkg/client/informers/externalversions/apisx/v1alpha1/xmesh.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/listers/apisx/v1alpha1/expansion_generated.go
  pkg/client/listers/apisx/v1alpha1/xmesh.go
  pkg/generated/openapi/zz_generated.openapi.go
Labels: kind/feature, approved, release-note, cncf-cla: yes, lgtm, size/XL, kind/gep

#4027 Add default timeout to UDPRoute test and improve logs
  conformance/tests/udproute-simple.go
Labels: ok-to-test, approved, size/S, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, area/conformance-test

#4061 Update gRPC Auth config
  apis/v1/httproute_types.go
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  pkg/generated/openapi/zz_generated.openapi.go
Labels: size/XS, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm

#3978 Improve some ListenetSet gep descriptions
  geps/gep-1713/index.md
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/L, kind/gep

#4067 submit report for cloud provider kind
  conformance/reports/v1.3.0/cloud-provider-kind/README.md
  conformance/reports/v1.3.0/cloud-provider-kind/standard-v0.8.0-alpha.1-default-report.yaml
Labels: approved, release-note-none, size/M, kind/documentation, cncf-cla: yes, lgtm, area/conformance-test

#4041 Update index.md field after moving BackendTLS struct
  geps/gep-3155/index.md
Labels: approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm, kind/gep

#4094 Add allowOrigins configuration to CORSAllowCredentialsBehavior and perform cleanup
  conformance/tests/httproute-cors-allow-credentials-behavior.go
  conformance/tests/httproute-cors-allow-credentials-behavior.yaml
Labels: kind/bug, approved, release-note-none, size/M, kind/cleanup, cncf-cla: yes, lgtm, area/conformance-test

#4084 fix: fix validation and wording when making gateway spec addresses value optional
  apis/v1/gateway_types.go
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  conformance/tests/gateway-static-addresses.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/test/cel/gateway_test.go
Labels: ok-to-test, approved, release-note, size/M, cncf-cla: yes, lgtm

#4091 Fix broken link in TLS Configuration page
  site-src/guides/tls.md
Labels: ok-to-test, size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#4093 Update OWNERS_ALIASES for gateway-api teams
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm

#4104 conformance: fix per-test cleanup
  conformance/utils/suite/conformance.go
Labels: kind/bug, size/XS, approved, release-note-none, cncf-cla: yes, lgtm

#4111 Update deadline extension policy
  RELEASE_MANAGEMENT.md
Labels: approved, size/S, release-note-none, kind/cleanup, kind/documentation, cncf-cla: yes, lgtm

#4130 v1.4.0-rc.2
  CHANGELOG/1.4-CHANGELOG.md
  config/crd/experimental/gateway.networking.k8s.io_backendtlspolicies.yaml
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_referencegrants.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/experimental/gateway.networking.x-k8s.io_xbackendtrafficpolicies.yaml
  config/crd/experimental/gateway.networking.x-k8s.io_xlistenersets.yaml
  config/crd/experimental/gateway.networking.x-k8s.io_xmeshes.yaml
  config/crd/standard/gateway.networking.k8s.io_backendtlspolicies.yaml
  config/crd/standard/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_referencegrants.yaml
  pkg/consts/consts.go
Labels: approved, size/M, cncf-cla: yes, lgtm, v1.4-release/subtask
