Repository kubernetes-sigs/gateway-api, pull requests merged in 2025-02, with the labels that each got.

#3580 remove "experimental" language from gamma implementations
  site-src/implementations.md
Labels: size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3577 Add Gateway For Mesh section to the GEP template
  geps/gep-696/index.md
Labels: approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm, kind/gep

#3435 GEP 1767: CORS Filter
  geps/gep-1767/index.md
  geps/gep-1767/metadata.yaml
Labels: ok-to-test, approved, size/XXL, release-note-none, cncf-cla: yes, lgtm, kind/gep

#3598 Updating some Kuadrant docs and links
  site-src/implementations.md
Labels: approved, size/S, needs-ok-to-test, release-note, kind/documentation, cncf-cla: yes, lgtm

#3600 Mark Amazon Elastic Kubernetes Service as GA
  site-src/implementations.md
Labels: ok-to-test, size/XS, approved, release-note-none, cncf-cla: yes, lgtm

#3573 GEP 3388 Retry Budget API Design
  geps/gep-3388/index.md
  geps/gep-3388/metadata.yaml
Labels: ok-to-test, approved, release-note-none, cncf-cla: yes, lgtm, size/L, kind/gep

#3597 fix: group description in `LocalObjectReference`
  apis/v1/object_reference_types.go
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  pkg/generated/openapi/zz_generated.openapi.go
Labels: ok-to-test, size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3578 conformance: Add Cilium report for 1.2.1
  conformance/reports/v1.2.1/cilium-cilium/README.md
  conformance/reports/v1.2.1/cilium-cilium/experimental-1.17-default-report.yaml
Labels: ok-to-test, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, size/L, area/conformance

#3595 Remove experimental callout on GRPCRoute guide.
  site-src/guides/grpc-routing.md
  site-src/guides/index.md
Labels: ok-to-test, size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3610 chore: fmt
  pkg/test/cel/grpcroute_experimental_test.go
  pkg/test/cel/httproute_experimental_test.go
Labels: ok-to-test, approved, release-note-none, size/M, kind/cleanup, cncf-cla: yes, lgtm

#3604 backendRef filters shouldn't affect weighted routing
  conformance/tests/httproute-request-header-modifier-backend-weights.go
  conformance/tests/httproute-request-header-modifier-backend-weights.yaml
Labels: approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, size/L, area/conformance, kind/test

#3344 fix(grpcroute-doc): fix grpcroute structure definition error in the document
  site-src/api-types/grpcroute.md
Labels: ok-to-test, size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3589 refactor codegen scripts to make it easier to generate two clients
  apis/openapi/zz_generated.openapi.go
  cmd/modelschema/main.go
  hack/update-clientset.sh
  hack/update-codegen.sh
  hack/update-protos.sh
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/L

#3626 docs: fix broken gep status link
  geps/gep-1651/index.md
  geps/gep-1713/index.md
  geps/gep-1742/index.md
  geps/gep-1911/index.md
  geps/gep-2659/index.md
Labels: ok-to-test, approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm, kind/gep

#3591 BackendTLSPolicy SANs field marked as extended
  apis/openapi/zz_generated.openapi.go
  apis/v1alpha3/backendtlspolicy_types.go
  config/crd/experimental/gateway.networking.k8s.io_backendtlspolicies.yaml
  geps/gep-3155/metadata.yaml
Labels: approved, size/S, release-note, cncf-cla: yes, lgtm, kind/gep

#3629 Update OWNERS_ALIASES
  OWNERS_ALIASES
Labels: size/XS, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm

#3627 retry failed calls when waiting for namespace ready
  conformance/utils/kubernetes/helpers.go
Labels: kind/bug, size/XS, approved, release-note-none, cncf-cla: yes, lgtm, kind/flake, area/conformance, kind/test

#3634 docs: Update GEPs in navbar
  mkdocs.yml
Labels: ok-to-test, approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3622 conformance: Correct Cilium version in 1.2.1
  conformance/reports/v1.2.1/cilium-cilium/experimental-1.17-default-report.yaml
Labels: ok-to-test, approved, release-note-none, size/M, kind/documentation, cncf-cla: yes, lgtm, area/conformance

#3630 Implementation of GEP-3567 - TLS Updates for Connection Coalescing
  apis/v1/gateway_types.go
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  geps/gep-3567/index.md
  mkdocs.yml
  pkg/generated/openapi/zz_generated.openapi.go
Labels: kind/feature, approved, release-note, size/M, cncf-cla: yes, lgtm, kind/gep

#3639 fix(docs): grpcroute name is not set
  site-src/api-types/grpcroute.md
Labels: ok-to-test, size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3632 Support attaching ListenerSets across namespaces
  apis/v1/gateway_types.go
  apis/v1/zz_generated.deepcopy.go
  apisx/v1alpha1/listenerset_types.go
  apisx/v1alpha1/shared_types.go
  apisx/v1alpha1/zz_generated.deepcopy.go
  applyconfiguration/apis/v1/listenernamespaces.go
  applyconfiguration/apisx/v1alpha1/parentgatewayreference.go
  applyconfiguration/internal/internal.go
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/experimental/gateway.networking.x-k8s.io_listenersets.yaml
  geps/gep-1713/index.md
  pkg/generated/openapi/zz_generated.openapi.go
Labels: approved, release-note, size/M, cncf-cla: yes, lgtm, kind/gep

#3637 Implementing GEP-1767 CORS Filter for HTTPRoute
  apis/v1/httproute_types.go
  apis/v1/shared_types.go
  apis/v1/zz_generated.deepcopy.go
  applyconfiguration/apis/v1/httpcorsfilter.go
  applyconfiguration/apis/v1/httproutefilter.go
  applyconfiguration/internal/internal.go
  applyconfiguration/utils.go
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/generator/main.go
Labels: kind/feature, approved, release-note, cncf-cla: yes, lgtm, size/XL
