Repository kubernetes-sigs/gateway-api, pull requests merged in 2025-01, with the labels that each got.

#3536 fix changelog broken links to gep-851 and gep-820
  CHANGELOG/0.x-CHANGELOG.md
Labels: ok-to-test, size/XS, approved, release-note-none, cncf-cla: yes, lgtm

#3538 fix: broken reference or ngrok kubernetes operator
  site-src/implementations.md
Labels: ok-to-test, size/XS, approved, release-note-none, cncf-cla: yes, lgtm

#3548 chore: remove Gateway API survey banner
  docs/stylesheets/banner.css
  override/partials/header.html
  site-src/overrides/main.html
Labels: approved, release-note-none, size/M, kind/cleanup, cncf-cla: yes, lgtm

#3549 Add to mkdocs so at least 3 conformance projects reports are uploaded
  hack/mkdocs-generate-conformance.py
  site-src/implementations/v1.2.md
Labels: approved, release-note-none, size/M, kind/cleanup, cncf-cla: yes, lgtm

#3500 Add initial draft of Auth GEP 1494
  geps/gep-1494/index.md
  geps/gep-1494/metadata.yaml
  mkdocs.yml
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/L, kind/gep

#3531 Add conformance report for 1.2.1 for Istio
  conformance/reports/v1.2.1/istio-istio/README.md
  conformance/reports/v1.2.1/istio-istio/experimental-1.24-default-report.yaml
  site-src/implementations.md
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/L, area/conformance

#3555 Add conformance report for NGINX Gateway Fabric v1.6.0
  conformance/reports/v0.7.1/nginx-nginx-gateway-fabric/README.md
  conformance/reports/v0.7.1/nginx-nginx-gateway-fabric/v0.5.0-report.yaml
  conformance/reports/v0.7.1/nginxinc-nginx-gateway-fabric/README.md
  conformance/reports/v0.8.0/nginx-nginx-gateway-fabric/README.md
  conformance/reports/v0.8.0/nginx-nginx-gateway-fabric/v0.6.0-report.yaml
  conformance/reports/v0.8.0/nginxinc-nginx-gateway-fabric/README.md
  conformance/reports/v0.8.1/nginx-nginx-gateway-fabric/README.md
  conformance/reports/v0.8.1/nginx-nginx-gateway-fabric/v1.0.0-report.yaml
  conformance/reports/v0.8.1/nginxinc-nginx-gateway-fabric/README.md
  conformance/reports/v1.0.0/nginx-nginx-gateway-fabric/README.md
  conformance/reports/v1.0.0/nginx-nginx-gateway-fabric/v1.1.0-report.yaml
  conformance/reports/v1.0.0/nginx-nginx-gateway-fabric/v1.2.0-report.yaml
  conformance/reports/v1.0.0/nginxinc-nginx-gateway-fabric/README.md
  conformance/reports/v1.1.0/nginx-nginx-gateway-fabric/README.md
  conformance/reports/v1.1.0/nginx-nginx-gateway-fabric/experimental-1.4.0-default-report.yaml
  conformance/reports/v1.1.0/nginx-nginx-gateway-fabric/standard-1.3.0-default-report.yaml
  conformance/reports/v1.1.0/nginxinc-nginx-gateway-fabric/README.md
  conformance/reports/v1.2.0/nginx-nginx-gateway-fabric/README.md
  conformance/reports/v1.2.0/nginx-nginx-gateway-fabric/experimental-1.5.0-default-report.yaml
  conformance/reports/v1.2.0/nginxinc-nginx-gateway-fabric/README.md
  conformance/reports/v1.2.1/nginx-nginx-gateway-fabric/README.md
  conformance/reports/v1.2.1/nginx-nginx-gateway-fabric/experimental-1.6.0-default-report.yaml
  site-src/implementations.md
  site-src/implementations/v1.0.md
  site-src/implementations/v1.1.md
  site-src/implementations/v1.2.md
Labels: ok-to-test, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, size/L, area/conformance

#3553 docs: improve GWC `GatewayClassReasonInvalidParameters` reason description
  apis/v1/gatewayclass_types.go
Labels: size/XS, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3540 docs: Specify default type for sessionPersistence.cookieConfig.lifeti…
  apis/v1/shared_types.go
  config/crd/experimental/gateway.networking.k8s.io_backendlbpolicies.yaml
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  pkg/generated/openapi/zz_generated.openapi.go
Labels: size/XS, approved, kind/documentation, cncf-cla: yes, lgtm

#3565 Fix typo in documentation
  apis/v1/gateway_types.go
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  pkg/generated/openapi/zz_generated.openapi.go
Labels: ok-to-test, size/XS, approved, release-note-none, cncf-cla: yes, lgtm

#3496 Add CEL for BackendTLSPolicy targetRefs
  apis/v1alpha3/backendtlspolicy_types.go
  config/crd/experimental/gateway.networking.k8s.io_backendtlspolicies.yaml
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/test/cel/backendtlspolicy_test.go
Labels: kind/feature, ok-to-test, approved, release-note, cncf-cla: yes, lgtm, size/L

#3571 Clarify frontend/backend relationship in GEP-91.
  geps/gep-91/index.md
Labels: ok-to-test, size/XS, approved, release-note-none, cncf-cla: yes, lgtm, kind/gep

#3508 conformance tests for percentage-based request mirroring
  conformance/tests/httproute-request-mirror.go
  conformance/tests/httproute-request-multiple-mirrors.go
  conformance/tests/httproute-request-percentage-mirror.go
  conformance/tests/httproute-request-percentage-mirror.yaml
  conformance/utils/http/http.go
  conformance/utils/http/mirror.go
  conformance/utils/kubernetes/logs.go
  geps/gep-3171/index.md
  pkg/features/httproute.go
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/L, kind/gep, area/conformance, kind/test

#3213 GEP-1713: ListenerSets - Standard Mechanism to Merge Gateway Listeners (rev 2)
  geps/gep-1713/index.md
  geps/gep-1713/metadata.yaml
Labels: priority/important-soon, approved, release-note-none, cncf-cla: yes, lgtm, size/XL, kind/gep

#3572 Adding GEP-3567: Gateway TLS Updates for HTTP/2 Connection Coalescing
  geps/gep-3567/index.md
  geps/gep-3567/metadata.yaml
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/L, kind/gep

#3574 Remove extra newlines and format descriptions of items
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  pkg/generator/main.go
Labels: ok-to-test, approved, release-note-none, size/M, kind/cleanup, cncf-cla: yes, lgtm

#3579 docs: setting proper reason for Gateway `parametersRef` `Accepted` condition
  apis/v1/gateway_types.go
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  pkg/generated/openapi/zz_generated.openapi.go
Labels: size/XS, approved, release-note, kind/documentation, cncf-cla: yes, lgtm
