Repository kubernetes-sigs/gateway-api, pull requests merged in 2025-06, with the labels that each got.

#3810 docs: Add v1.3 conformance report table
  hack/mkdocs-generate-conformance.py
  mkdocs.yml
  site-src/implementations.md
  site-src/implementations/v1.0.md
  site-src/implementations/v1.1.md
  site-src/implementations/v1.2.md
  site-src/implementations/v1.3.md
Labels: ok-to-test, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, size/L

#3829 chore: remove inactive reviewers
  OWNERS_ALIASES
Labels: size/XS, approved, cncf-cla: yes, lgtm

#3827 add httproute weight based routing mesh conformance tests
  conformance/tests/mesh/httproute-weight.go
  conformance/tests/mesh/httproute-weight.yaml
  conformance/utils/echo/pod.go
Labels: approved, release-note, cncf-cla: yes, lgtm, size/L, area/conformance-test

#3833 Add mesh core conformance tests for httproute same-namespace attachment
  conformance/tests/mesh/httproute-simple-same-namespace.go
  conformance/tests/mesh/httproute-simple-same-namespace.yaml
Labels: approved, release-note, size/M, cncf-cla: yes, lgtm, area/conformance-test

#3831 add httproute matching conformance mesh
  conformance/tests/mesh/httproute-matching.go
  conformance/tests/mesh/httproute-matching.yaml
Labels: approved, release-note, cncf-cla: yes, lgtm, size/L, area/conformance-test

#2712 GEP-2627 DNS Configuration - Initial Provisional PR
  geps/gep-2627/index.md
  geps/gep-2627/metadata.yaml
Labels: ok-to-test, approved, size/M, cncf-cla: yes, lgtm, kind/gep

#3808 Add Istio report for 1.3.0
  conformance/reports/v1.3.0/istio-istio/README.md
  conformance/reports/v1.3.0/istio-istio/experimental-1.26.1-default-report.yaml
  site-src/implementations/v1.1.md
  site-src/implementations/v1.2.md
  site-src/implementations/v1.3.md
Labels: approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, size/L

#3836 Add NGINX Gateway Fabric v2.0 conformance report
  conformance/reports/v1.3.0/nginx-nginx-gateway-fabric/README.md
  conformance/reports/v1.3.0/nginx-nginx-gateway-fabric/experimental-2.0.0-default-report.yaml
Labels: ok-to-test, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, size/L, area/conformance-test

#3834 add mesh conformance for httproute-queryparmas-match
  conformance/tests/mesh/httproute-query-param-matching.go
  conformance/tests/mesh/httproute-query-param-matching.yaml
  pkg/features/mesh.go
Labels: approved, release-note, cncf-cla: yes, lgtm, size/L, area/conformance-test

#3847 fix meshredirectport and schemeredirect mesh conformance features
  pkg/features/mesh.go
Labels: kind/bug, size/XS, approved, release-note-none, cncf-cla: yes, lgtm, area/conformance-machinery

#3853 Add body to http.Request and roundTripper.request to extend conformance testutil ability to send request with body.
  conformance/utils/http/http.go
  conformance/utils/roundtripper/roundtripper.go
Labels: ok-to-test, approved, size/S, release-note-none, cncf-cla: yes, lgtm, area/conformance-test

#3839 Initial Linkerd 1.3.0 conformance reports
  conformance/reports/v1.3.0/buoyant-enterprise-for-linkerd/README.md
  conformance/reports/v1.3.0/buoyant-enterprise-for-linkerd/run-conformance.sh
  conformance/reports/v1.3.0/buoyant-enterprise-for-linkerd/standard-2.18-default-report.yaml
  conformance/reports/v1.3.0/linkerd-linkerd/README.md
  conformance/reports/v1.3.0/linkerd-linkerd/run-conformance.sh
  conformance/reports/v1.3.0/linkerd-linkerd/standard-2.18-default-report.yaml
  site-src/implementations.md
Labels: approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, size/L, area/conformance-test

#3848 Infer SupportedFeatures in Conformance Tests (GEP-2162) [#3759]
  conformance/apis/v1/conformancereport.go
  conformance/conformance.go
  conformance/utils/suite/conformance.go
  conformance/utils/suite/reports.go
  conformance/utils/suite/suite.go
  conformance/utils/suite/suite_test.go
Labels: kind/feature, ok-to-test, approved, release-note, cncf-cla: yes, lgtm, size/L

#3822 GEP 3779 - East/West Identity-Based Authorization
  geps/gep-3779/index.md
  geps/gep-3779/metadata.yaml
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/L, kind/gep

#3851 GEP-3792: Off-Cluster Gateways
  geps/gep-3792/index.md
  geps/gep-3792/metadata.yaml
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/L, kind/gep

#3852 GEP-3793: Default Gateways
  geps/gep-3793/index.md
  geps/gep-3793/metadata.yaml
Labels: approved, release-note-none, cncf-cla: yes, lgtm, size/L, kind/gep

#3866 docs: note about expectations when a gep misses a release timeline
  site-src/contributing/release-cycle.md
Labels: approved, size/S, kind/documentation, cncf-cla: yes, lgtm

#3870 GEP-3792 and GEP-3793 title fixes :man_facepalming:
  geps/gep-3792/index.md
  geps/gep-3792/metadata.yaml
  geps/gep-3793/metadata.yaml
  mkdocs.yml
Labels: size/XS, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm, kind/gep

#3874 docs: fix typo and add contents about "ngrok Kubernetes Operator"
  site-src/implementations.md
Labels: ok-to-test, approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3862 docs: Fix links to nonexistent anchors
  geps/gep-1324/index.md
  geps/gep-1619/index.md
  geps/gep-1686/index.md
  geps/gep-1709/index.md
  geps/gep-1867/index.md
  geps/gep-1897/index.md
  geps/gep-2722/index.md
  geps/gep-91/index.md
  geps/gep-995/index.md
  site-src/api-types/backendtlspolicy.md
  site-src/api-types/backendtrafficpolicy.md
  site-src/api-types/grpcroute.md
  site-src/api-types/httproute.md
  site-src/blog/2021/introducing-v1alpha2.md
  site-src/blog/2022/graduating-to-beta.md
  site-src/blog/2023/0829-mesh-support.md
  site-src/blog/index.md
  site-src/concepts/api-overview.md
  site-src/concepts/use-cases.md
  site-src/faq.md
  site-src/guides/crd-management.md
  site-src/guides/migrating-from-ingress.md
  site-src/guides/multiple-ns.md
  site-src/implementations.md
  site-src/index.md
  site-src/mesh/gamma.md
  site-src/mesh/index.md
  site-src/mesh/service-facets.md
Labels: ok-to-test, approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, size/L, kind/gep

#3855 Improve distribution tests in conformance for MeshHTTPRouteWeight
  conformance/tests/mesh/httproute-weight.go
Labels: ok-to-test, approved, release-note, size/M, cncf-cla: yes, lgtm, area/conformance-test

#3877 Adding Lior to Mesh Leads
  OWNERS_ALIASES
Labels: size/XS, approved, release-note-none, kind/cleanup, cncf-cla: yes, lgtm

#3863 Update implementations.md with removal policy
  site-src/implementations.md
Labels: approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, size/L, area/conformance-machinery

#3888 Oops. It's GEP-3779, not GEP-3379.
  mkdocs.yml
Labels: size/XS, approved, release-note-none, kind/cleanup, kind/documentation, cncf-cla: yes, lgtm
