Repository kubernetes-sigs/gateway-api, pull requests merged in 2025-04, with the labels that each got.

#3727 Revert change to mirror threshold
  conformance/tests/httproute-request-percentage-mirror.go
Labels: size/XS, approved, release-note-none, cncf-cla: yes, lgtm, area/conformance-test

#3741 Clarify HTTPRouteMatch rules
  site-src/api-types/httproute.md
Labels: ok-to-test, approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3748 Removing "None" as option for Route Namespaces
  apis/v1/gateway_types.go
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/experimental/gateway.networking.x-k8s.io_xlistenersets.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
Labels: kind/bug, size/XS, approved, release-note, cncf-cla: yes, lgtm

#3737 Doc update to kgateway
  site-src/implementations.md
Labels: ok-to-test, approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3752 conformance: do not log when we do not sleep
  conformance/utils/suite/suite.go
Labels: size/XS, approved, release-note-none, cncf-cla: yes, lgtm, area/conformance-machinery

#3753 Requiring Port number on ListenerSet Listener
  apisx/v1alpha1/xlistenerset_types.go
  applyconfiguration/internal/internal.go
  config/crd/experimental/gateway.networking.x-k8s.io_xlistenersets.yaml
  pkg/generated/openapi/zz_generated.openapi.go
Labels: size/XS, approved, release-note, kind/cleanup, cncf-cla: yes, lgtm

#3749 Changelog for v1.3.0-rc.2
  CHANGELOG/1.3-CHANGELOG.md
  config/crd/experimental/gateway.networking.k8s.io_backendtlspolicies.yaml
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_referencegrants.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/experimental/gateway.networking.x-k8s.io_xbackendtrafficpolicies.yaml
  config/crd/experimental/gateway.networking.x-k8s.io_xlistenersets.yaml
  config/crd/standard/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_referencegrants.yaml
  pkg/consts/consts.go
Labels: approved, release-note-none, size/M, kind/cleanup, cncf-cla: yes, lgtm

#3762 fix typo in BudgetDetails
  apisx/v1alpha1/xbackendtrafficpolicy_types.go
  config/crd/experimental/gateway.networking.x-k8s.io_xbackendtrafficpolicies.yaml
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/test/cel/backendtrafficpolicy_test.go
Labels: ok-to-test, approved, size/S, release-note-none, kind/documentation, cncf-cla: yes, lgtm

#3764 Add 1.3 release team and update relevant GEPs
  CHANGELOG/1.3-TEAM.md
  geps/gep-1713/metadata.yaml
  geps/gep-1767/metadata.yaml
  geps/gep-3171/metadata.yaml
  geps/gep-3388/metadata.yaml
  geps/gep-696/metadata.yaml
Labels: approved, release-note-none, size/M, kind/documentation, cncf-cla: yes, lgtm, kind/gep

#3765 Adding changelog for v1.3.0
  CHANGELOG/1.3-CHANGELOG.md
  README.md
  config/crd/experimental/gateway.networking.k8s.io_backendtlspolicies.yaml
  config/crd/experimental/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/experimental/gateway.networking.k8s.io_gateways.yaml
  config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_httproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_referencegrants.yaml
  config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml
  config/crd/experimental/gateway.networking.x-k8s.io_xbackendtrafficpolicies.yaml
  config/crd/experimental/gateway.networking.x-k8s.io_xlistenersets.yaml
  config/crd/standard/gateway.networking.k8s.io_gatewayclasses.yaml
  config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  config/crd/standard/gateway.networking.k8s.io_grpcroutes.yaml
  config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  config/crd/standard/gateway.networking.k8s.io_referencegrants.yaml
  pkg/consts/consts.go
  site-src/guides/index.md
Labels: approved, release-note-none, kind/documentation, cncf-cla: yes, lgtm, size/L
